<fieldset id="form" style=" position: absolute; top: 30%;">
  <p>
    <input class="checkbox" id="Dial-a-Ride" name="Dial-a-Ride" type="checkbox" value="Dial-a-Ride" checked />
    <label for="Dial-a-Ride">Dial-a-Ride</label>
  </p>
  <p>
    <input class="checkbox" id="American Legion" name="American Legion" type="checkbox" value="American Legion" />
    <label for="American Legion">American Legion</label>
  </p>
  <p>
    <input class="checkbox" id="Veterans of Foreign Wars" name="Veterans of Foreign Wars" type="checkbox" value="Veterans of Foreign Wars" />
    <label for="Veterans of Foreign Wars">Veterans of Foreign Wars</label>
  </p>
  <p>
    <input class="checkbox" id="Nutrition" name="Nutrition" type="checkbox" value="Nutrition" />
    <label for="Nutrition">Nutrition</label>
  </p>

</fieldset>


<script type='text/javascript'>
  var markers = new Array();
  var map;
  var home = new google.maps.LatLng(31.7, -106.4);
  var icon_normal = {
    url: "<%= image_url "marker-normal.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_selected = {
    url: "<%= image_url "marker-selected.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_completed = {
    url: "<%= image_url "marker-completed.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_limpia = {
    url: "<%= image_url "limpia01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_limpia_resuelto = {
    url: "<%= image_url "limpia03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_pavimento = {
    url: "<%= image_url "pavimento01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_pavimento_resuelto = {
    url: "<%= image_url "pavimento03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_parques = {
    url: "<%= image_url "parques01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_parques_resuelto = {
    url: "<%= image_url "parques03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_alumbrado = {
    url: "<%= image_url "alumbrado01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_alumbrado_resuelto = {
    url: "<%= image_url "alumbrado03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  
  var icon_analysis = {
    url: "<%= image_url "marker-analysis.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var opened_infowindow;
  var selected_marker;
  var infowindow = new google.maps.InfoWindow({ maxWidth: 320 });
  var icon;
 
  function initialize(tipo) {

    var mapDiv = document.getElementById("main-map");
    var mapOptions = {
      zoom: 12,
      center: home,
      draggable: true,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      }
    };

  map = new google.maps.Map(mapDiv, mapOptions);
  var marker;
  
  <% @reports.each do |report| %>
     var i = i + 1;
     marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= report.latitude %>, <%= report.longitude %>),
        map: map,
        //ICONOS PARA LIMPIA
          <% if report.report_category_id == 1 && report.status == 2 %>
                  icon: icon_limpia,
                <% elsif report.report_category_id == 1 && report.status == 4 %>
                  icon: icon_limpia_resuelto,
          <% end %>
        
        //ICONOS PARA PAVIMENTO
        <% if report.report_category_id == 2 && report.status == 2 %>
                icon: icon_pavimento,
              <% elsif report.report_category_id == 2 && report.status == 4 %>
                icon: icon_pavimento_resuelto,
        <% end %>
        // ICONOS PARA PARQUES
        <% if report.report_category_id == 3 && report.status == 2 %>
              icon: icon_parques,
            <% elsif report.report_category_id == 3 && report.status == 4 %>
              icon: icon_parques_resuelto,
        <% end %>
        // iconos para alumbrado
        <% if report.report_category_id == 4 && report.status == 2 %>
              icon: icon_alumbrado,
            <% elsif report.report_category_id == 4 && report.status == 4 %>
              icon: icon_alumbrado_resuelto, 
        <% end %>
        draggable: false,
        title: '<%= report.title %>'
      });
      
      
      var content_<%= report.id %> = "<%= get_info_window_markup(report) %>";
      
      //VE
      //TODO ESTE DESMADRE SE ENCARGA DE MOSTRAR EL INFOWINDOW
      google.maps.event.addListener(marker_<%= report.id %>, "click", function() {
        alert("diste click en el marcador");
        close_infowindow();
        icon = marker_<%= report.id %>.getIcon();
        marker_<%= report.id %>.setIcon(icon_selected);
        infowindow.setContent(content_<%= report.id %>);
        infowindow.open(map, marker_<%= report.id %>);
        selected_marker = marker_<%= report.id %>;
        opened_infowindow = infowindow;
      });
      
      
    <% end %>
    
   
    
    function close_infowindow() {
      if(opened_infowindow != null) {
        selected_marker.setIcon(icon);
        opened_infowindow.set("marker", null);
        opened_infowindow.close();
        opened_infowindow = null;
      }
    }
    
    google.maps.event.addListener(infowindow, "closeclick", function(){
      selected_marker.setIcon(icon);
    });
  }
  function limpia(tipo) {
    var mapDiv = document.getElementById("main-map");
     var prueba = <%= @prueba = 50 %>
    var mapOptions = {
      zoom: 12,
      center: home,
      draggable: true,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      }
    };

    map = new google.maps.Map(mapDiv, mapOptions);

  
  <% @reports_limpia.each do |report| %>
   
      
      
      var content_<%= report.id %> = "<%= get_info_window_markup(report) %>";
      //VE
      //TODO ESTE DESMADRE SE ENCARGA DE MOSTRAR EL INFOWINDOW
      google.maps.event.addListener(marker_<%= report.id %>, "click", function() {
        close_infowindow();
        icon = marker_<%= report.id %>.getIcon();
        alert(JSON.stringify(icon));
        marker_<%= report.id %>.setIcon(icon_selected);
        infowindow.setContent(content_<%= report.id %>);
        infowindow.open(map, marker_<%= report.id %>);
        selected_marker = marker_<%= report.id %>;
        opened_infowindow = infowindow;
      });
    <% end %>
    
   
    
    function close_infowindow() {
      if(opened_infowindow != null) {
        selected_marker.setIcon(icon);
        opened_infowindow.set("marker", null);
        opened_infowindow.close();
        opened_infowindow = null;
      }
    }
    
    google.maps.event.addListener(infowindow, "closeclick", function(){
      selected_marker.setIcon(icon);
    });
  }
  function pavimento(tipo) {
    var mapDiv = document.getElementById("main-map");
     var prueba = <%= @prueba = 50 %>
    var mapOptions = {
      zoom: 12,
      center: home,
      draggable: true,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      }
    };

    map = new google.maps.Map(mapDiv, mapOptions);

  
  <% @reports_pavimento.each do |report| %>
      var marker_<%= report.id %> = new google.maps.Marker({
        position: new google.maps.LatLng(<%= report.latitude %>, <%= report.longitude %>),
        map: map,
        //ICONOS PARA LIMPIA
          <% if report.report_category_id == 1 && report.status == 2 %>
                  icon: icon_limpia,
                <% elsif report.report_category_id == 1 && report.status == 4 %>
                  icon: icon_limpia_resuelto,
          <% end %>
        
        //ICONOS PARA PAVIMENTO
        <% if report.report_category_id == 2 && report.status == 2 %>
                icon: icon_pavimento,
              <% elsif report.report_category_id == 2 && report.status == 4 %>
                icon: icon_pavimento_resuelto,
        <% end %>
        // ICONOS PARA PARQUES
        <% if report.report_category_id == 3 && report.status == 2 %>
              icon: icon_parques,
            <% elsif report.report_category_id == 3 && report.status == 4 %>
              icon: icon_parques_resuelto,
        <% end %>
        // iconos para alumbrado
        <% if report.report_category_id == 4 && report.status == 2 %>
              icon: icon_alumbrado,
            <% elsif report.report_category_id == 4 && report.status == 4 %>
              icon: icon_alumbrado_resuelto, 
        <% end %>
        draggable: false,
        title: '<%= report.title %>'
      });
      
      
      var content_<%= report.id %> = "<%= get_info_window_markup(report) %>";
      //VE
      //TODO ESTE DESMADRE SE ENCARGA DE MOSTRAR EL INFOWINDOW
      google.maps.event.addListener(marker_<%= report.id %>, "click", function() {
        close_infowindow();
        icon = marker_<%= report.id %>.getIcon();
        marker_<%= report.id %>.setIcon(icon_selected);
        infowindow.setContent(content_<%= report.id %>);
        infowindow.open(map, marker_<%= report.id %>);
        selected_marker = marker_<%= report.id %>;
        opened_infowindow = infowindow;
      });
    <% end %>
    
   
    
    function close_infowindow() {
      if(opened_infowindow != null) {
        selected_marker.setIcon(icon);
        opened_infowindow.set("marker", null);
        opened_infowindow.close();
        opened_infowindow = null;
      }
    }
    
    google.maps.event.addListener(infowindow, "closeclick", function(){
      selected_marker.setIcon(icon);
    });
  }
  google.maps.event.addDomListener(window, "load", initialize);
  
  
  // Removes the markers from the map, but keeps them in the array.
function showMarkers(){
  pavimento(1);
   
}
  
</script>
<div id="floating-panel" style=" position: absolute; top: 10%;">
   <input id="target" onclick="clearMarkers();" type=button value="TODOS">
   <input onclick="showMarkers();" type=button value="PAVIMENTO">
   <input id="SEGUNDAVERSION" type=button value="LIMPIA">
   <input id="tercer" type=checkbox value="LIMPIA 3">
</div>
<script>
        $( "#target" ).click(function() {
          //$( this ).slideUp();
          alert('boton 1');
          var alejandra = <%= @reports.count %>
          alert(alejandra);
          initialize();
          
        });
        $( "#SEGUNDAVERSION" ).click(function() {
          limpia();
        });
        
</script>
