<style>
        hr {
            margin-top: 5px;
            margin-bottom: 5px;
            border: 0;
            border-top: 1px solid #eee;
        }
        
        .caquita{
            text-align: center;
            font-family: Source Sans Pro;
            font-size: 16px;
            font-weight: 600;  
        }
        
        p {
            margin: 0 0 1px;
        }
        
        fieldset{
          position: absolute;
            top: 120px;
            background: white;
            padding: .35em .625em .75em;
            width: 60px;darkmagenta;
            box-shadow: 1px 1px 5px #888888;
            border-radius: 5px;
        }
        
        
        input[type=checkbox] {
          display: none;
        }
        
        input[type=checkbox] + .pav {
          background: url("http://i.imgur.com/b6v5T45.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        
        input[type=checkbox]:checked + .pav {
          background: url("http://i.imgur.com/eYTegzu.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        /*LIMPIA*/
        input[type=checkbox] + .limp {
          background: url("http://i.imgur.com/KCjsa7v.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        
        input[type=checkbox]:checked + .limp {
          background: url("http://i.imgur.com/gQTEo0l.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        /*ALUMBRADO*/
        input[type=checkbox] + .alum {
          background: url("http://i.imgur.com/ytEiM3N.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        
        input[type=checkbox]:checked + .alum {
          background: url("http://i.imgur.com/RQUSvUi.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        /*PARQUES*/
        input[type=checkbox] + .par {
          background: url("http://i.imgur.com/K9Uv7dQ.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        
        input[type=checkbox]:checked + .par {
          background: url("http://i.imgur.com/5pYf1LF.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        /*ACCESIBILIDAD*/
        input[type=checkbox] + .acc {
          background: url("http://i.imgur.com/lDaXk4Z.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        
        input[type=checkbox]:checked + .acc {
          background: url("http://i.imgur.com/ozZXJXZ.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        /*YO*/
        input[type=checkbox] + .yop {
          background: url("http://i.imgur.com/8xKGOEb.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
        
        input[type=checkbox]:checked + .yop {
          background: url("http://i.imgur.com/wc5LdGg.png") no-repeat;
          background-size: 100%;
          height: 41px;
          width: 81px;
          display: inline-block;
          padding: 0 0 0 0px;
        }

</style>



<fieldset id="form" style=" position: absolute; top: 70px;">
  <p>
    </p><div class="caquita">Filtrar</div>
  <hp>
  <hr>
  <p>
    <input type="checkbox" id="pavimento"><label for="pavimento" class="pav"></label>
  </p>
  <p>
    <input type="checkbox" id="limpia"><label for="limpia" class="limp"></label>
  </p>
  <p>
    <input type="checkbox" id="alumbrado"><label for="alumbrado" class="alum"></label>
  </p>
  <p>
    <input type="checkbox" id="parques"><label for="parques" class="par"></label>
  </p>
    <p>
    <input type="checkbox" id="accesibilidad"><label for="accesibilidad" class="acc"></label>
  </p>
    <p>
    <input type="checkbox" id="yo"><label for="yo" class="yop"></label>
  </p>
</hp></fieldset>


<script type='text/javascript'>
  var markers = new Array();
  var markers_alumbrado = new Array();
  var markers_limpia = new Array();
  var markers_parques = new Array();
  var markers_accesibilidad = new Array();
   var markers_yo = new Array();
  var map;
  var home = new google.maps.LatLng(31.7, -106.4);
  var icon_normal = {
    url: "<%= image_url "marker-normal.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_selected = {
    url: "<%= image_url "marker-selected.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_completed = {
    url: "<%= image_url "marker-completed.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_limpia = {
    url: "<%= image_url "limpia01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var icon_limpia_resuelto = {
    url: "<%= image_url "limpia03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_pavimento = {
    url: "<%= image_url "pavimento01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_pavimento_resuelto = {
    url: "<%= image_url "pavimento03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_parques = {
    url: "<%= image_url "parques01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_parques_resuelto = {
    url: "<%= image_url "parques03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_alumbrado = {
    url: "<%= image_url "alumbrado01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_alumbrado_resuelto = {
    url: "<%= image_url "alumbrado03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  //------ICON ACCESIBILIDAD
  var icon_accesibilidad = {
    url: "<%= image_url "accesibilidad01.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
    var icon_accesibilidad_resuelto = {
    url: "<%= image_url "accesibilidad03.png" %>",
    size: new google.maps.Size(35, 47),
    scaledSize: new google.maps.Size(35,47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  
  
  
  var icon_analysis = {
    url: "<%= image_url "marker-analysis.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  var opened_infowindow;
  var selected_marker;
  var infowindow = new google.maps.InfoWindow({ maxWidth: 320 });
  var icon;
 
   function initialize() {
    var mapDiv = document.getElementById("main-map");

    var mapOptions = {
      zoom: 12,
      center: home,
      draggable: true,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      }
    };


    map = new google.maps.Map(mapDiv, mapOptions);
    
    <% @reports.each do |report| %>
         var marker_<%= report.id %> = new google.maps.Marker({
        position: new google.maps.LatLng(<%= report.latitude %>, <%= report.longitude %>),
        map: map,
        //ICONOS PARA LIMPIA
          <% if report.report_category_id == 1 && report.status == 2 %>
                  icon: icon_limpia,
                <% elsif report.report_category_id == 1 && report.status == 4 %>
                  icon: icon_limpia_resuelto,
          <% end %>
        
        //ICONOS PARA PAVIMENTO
        <% if report.report_category_id == 2 && report.status == 2 %>
                icon: icon_pavimento,
              <% elsif report.report_category_id == 2 && report.status == 4 %>
                icon: icon_pavimento_resuelto,
        <% end %>
        // ICONOS PARA PARQUES
        <% if report.report_category_id == 3 && report.status == 2 %>
              icon: icon_parques,
            <% elsif report.report_category_id == 3 && report.status == 4 %>
              icon: icon_parques_resuelto,
        <% end %>
        // ICONOS PARA accesibilidad
        <% if report.report_category_id == 5 && report.status == 2 %>
              icon: icon_accesibilidad,
            <% elsif report.report_category_id == 5 && report.status == 4 %>
              icon: icon_accesibilidad_resuelto,
        <% end %>
        // iconos para alumbrado
        <% if report.report_category_id == 4 && report.status == 2 %>
              icon: icon_alumbrado,
            <% elsif report.report_category_id == 4 && report.status == 4 %>
              icon: icon_alumbrado_resuelto, 
        <% end %>
        draggable: false,
        title: '<%= report.title %>'
      });
      
      if(<%= report.report_category_id %> == "2")
        {
          markers.push(marker_<%= report.id %>);
        } else if(<%= report.report_category_id %> == "1")
        {
           markers_limpia.push(marker_<%= report.id %>);
        } else if(<%= report.report_category_id %> == "4")
        {
           markers_alumbrado.push(marker_<%= report.id %>);
        } else if(<%= report.report_category_id %> == "3")
        {
           markers_parques.push(marker_<%= report.id %>);
        }else if(<%= report.report_category_id %> == "5")
        {
           markers_accesibilidad.push(marker_<%= report.id %>);
        }
        
      if(<%= report.user_id %> == <%=current_user.id %>)
      { markers_yo.push(marker_<%= report.id %>); }
        
      var content_<%= report.id %> = "<%= get_info_window_markup(report) %>";
      
      google.maps.event.addListener(marker_<%= report.id %>, "click", function() {
        close_infowindow();
        console.log(<%= report.id %>);
        console.log("tamaño del arreglo de Pavimento= " + markers.length);
        console.log("tamaño del arreglo de Limpia= " + markers_limpia.length);
        console.log("tamaño del arreglo de Alumbrado= " + markers_alumbrado.length);
        console.log("tamaño del arreglo de Parques= " + markers_parques.length);
        console.log("tamaño del arreglo de ACCESIBILIDAD= " + markers_accesibilidad.length);
        console.log("Tus Reportes= " + markers_yo.length);
        icon = marker_<%= report.id %>.getIcon();
        marker_<%= report.id %>.setIcon(icon_selected);
        infowindow.setContent(content_<%= report.id %>);
        infowindow.open(map, marker_<%= report.id %>);
        selected_marker = marker_<%= report.id %>;
        opened_infowindow = infowindow;
      });
    <% end %>
    
    function close_infowindow() {
      if(opened_infowindow != null) {
        selected_marker.setIcon(icon);
        opened_infowindow.set("marker", null);
        opened_infowindow.close();
        opened_infowindow = null;
      }
    }
    function hide_markers() {
      for (var i=0; i<markers.length; i++) {
          console.log("culito");
          markers[i].setVisible(false);
        }
    }

    
    google.maps.event.addListener(infowindow, "closeclick", function(){
      selected_marker.setIcon(icon);
    });
  }
  function limpia(tipo) {
    var mapDiv = document.getElementById("main-map");
     var prueba = <%= @prueba = 50 %>
    var mapOptions = {
      zoom: 12,
      center: home,
      draggable: true,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      }
    };

    map = new google.maps.Map(mapDiv, mapOptions);

  
  <% @reports_limpia.each do |report| %>
      var marker_<%= report.id %> = new google.maps.Marker({
        position: new google.maps.LatLng(<%= report.latitude %>, <%= report.longitude %>),
        map: map,
        //ICONOS PARA LIMPIA
          <% if report.report_category_id == 1 && report.status == 2 %>
                  icon: icon_limpia,
                <% elsif report.report_category_id == 1 && report.status == 4 %>
                  icon: icon_limpia_resuelto,
          <% end %>
        
        //ICONOS PARA PAVIMENTO
        <% if report.report_category_id == 2 && report.status == 2 %>
                icon: icon_pavimento,
              <% elsif report.report_category_id == 2 && report.status == 4 %>
                icon: icon_pavimento_resuelto,
        <% end %>
        // ICONOS PARA PARQUES
        <% if report.report_category_id == 3 && report.status == 2 %>
              icon: icon_parques,
            <% elsif report.report_category_id == 3 && report.status == 4 %>
              icon: icon_parques_resuelto,
        <% end %>
        // iconos para alumbrado
        <% if report.report_category_id == 4 && report.status == 2 %>
              icon: icon_alumbrado,
            <% elsif report.report_category_id == 4 && report.status == 4 %>
              icon: icon_alumbrado_resuelto, 
        <% end %>
        draggable: false,
        title: '<%= report.title %>'
      });
      
      
      var content_<%= report.id %> = "<%= get_info_window_markup(report) %>";
      //VE
      //TODO ESTE DESMADRE SE ENCARGA DE MOSTRAR EL INFOWINDOW
      google.maps.event.addListener(marker_<%= report.id %>, "click", function() {
        close_infowindow();
        icon = marker_<%= report.id %>.getIcon();
        alert(JSON.stringify(icon));
        marker_<%= report.id %>.setIcon(icon_selected);
        infowindow.setContent(content_<%= report.id %>);
        infowindow.open(map, marker_<%= report.id %>);
        selected_marker = marker_<%= report.id %>;
        opened_infowindow = infowindow;
      });
    <% end %>
    
   
    
    function close_infowindow() {
      if(opened_infowindow != null) {
        selected_marker.setIcon(icon);
        opened_infowindow.set("marker", null);
        opened_infowindow.close();
        opened_infowindow = null;
      }
    }
    
    google.maps.event.addListener(infowindow, "closeclick", function(){
      selected_marker.setIcon(icon);
    });
  }
  google.maps.event.addDomListener(window, "load", initialize);
  
//QUITAR Y PONER PAVIMENTO  
    function hide_markers() {
      
      for (var i=0; i<markers.length; i++) {
          console.log("culito");
          markers[i].setVisible(false);}
    }
  
    function show_markers() {
      for (var i=0; i<markers.length; i++) {
          console.log("culito");
          markers[i].setVisible(true);
        }
    }
//QUITAR Y PONER LIMPIA
      function hide_markers_limpia() {
      
      for (var i=0; i<markers_limpia.length; i++) {
          console.log("culito");
          markers_limpia[i].setVisible(false);}
    }
  
    function show_markers_limpia() {
      for (var i=0; i<markers_limpia.length; i++) {
          console.log("culito");
          markers_limpia[i].setVisible(true);
        }
    }
//QUITAR Y PONER ALUMBRADO
      function hide_markers_alumbrado() {
      
      for (var i=0; i<markers_alumbrado.length; i++) {
          console.log("culito");
          markers_alumbrado[i].setVisible(false);}
    }
  
    function show_markers_alumbrado() {
      for (var i=0; i<markers_alumbrado.length; i++) {
          console.log("culito");
          markers_alumbrado[i].setVisible(true);
        }
    }
//QUITAR Y PONER PARQUES
      function hide_markers_parques() {
      
      for (var i=0; i<markers_parques.length; i++) {
          console.log("culito");
          markers_parques[i].setVisible(false);}
    }
  
    function show_markers_parques() {
      for (var i=0; i<markers_parques.length; i++) {
          console.log("culito");
          markers_parques[i].setVisible(true);
        }
    }
//QUITAR Y PONER ACCESIBILIDAD
      function hide_markers_acces() {
      
      for (var i=0; i<markers_accesibilidad.length; i++) {
          console.log("culito");
          markers_accesibilidad[i].setVisible(false);}
    }
  
    function show_markers_access() {
      for (var i=0; i<markers_accesibilidad.length; i++) {
          console.log("culito");
          markers_accesibilidad[i].setVisible(true);
        }
    }
//QUITAR Y PONER YO
      function show_markers_yo() {
      for (var i=0; i<markers_yo.length; i++) {
          console.log("culito");
          markers_yo[i].setVisible(true);
        }
    }
</script>
<div id="floating-panel" style=" position: absolute; top: 10%;">
   <!--<input id="target" onclick="clearMarkers();" type=button value="TODOS">-->
   <!--<input onclick="showMarkers();" type=button value="PAVIMENTO">-->
   <!--<input id="SEGUNDAVERSION" type=button value="LIMPIA">-->
   <!--<input id="tercer" type=checkbox value="LIMPIA 3">-->
   <!--<input onclick="hide_markers();" type=button value="BOTON 4">-->
</div>
<script>

          $(".pav").click(function(){
             if ($("#pavimento").is(":checked"))
              {
                  show_markers();
              } 
            else
              {
                   hide_markers();
              }
          });
          
        $(".limp").click(function(){
           if ($("#limpia").is(":checked"))
            {
                show_markers_limpia();
            }
          else
            {

                 hide_markers_limpia();
              
            }
          });
        $(".alum").click(function(){
           if ($("#alumbrado").is(":checked"))
            {
                show_markers_alumbrado();
            }
          else
            {
                 hide_markers_alumbrado();
            }
          });
          $(".par").click(function(){
           if ($("#parques").is(":checked"))
            {
                show_markers_parques();
            }
          else
            {
                 hide_markers_parques();
            }
          });
          $(".acc").click(function(){
           if ($("#accesibilidad").is(":checked"))
            {
                show_markers_access();
            }
          else
            {
                 hide_markers_acces();
            }
          });
        $(".yop").click(function(){
          
          if ($("#yo").is(":checked"))
            {
          //
            $("#pavimento").prop("checked", false );
            $("#alumbrado").prop("checked", false );
            $("#parques").prop("checked", false );
            $("#limpia").prop("checked", false );
            $("#accesibilidad").prop("checked", false );
            show_markers_parques();
            show_markers_alumbrado();
            show_markers_limpia();
            show_markers_access();
            show_markers();
           // show_markers_yo();
            }
          else
            {
          //
            $("#pavimento").prop("checked", true );
            $("#alumbrado").prop("checked", true );
            $("#parques").prop("checked", true );
            $("#limpia").prop("checked", true );
             $("#accesibilidad").prop("checked", true );
            hide_markers_parques();
            hide_markers_alumbrado();
            hide_markers_limpia();
            hide_markers_acces();
            hide_markers();
            show_markers_yo();

              
            }

          });

</script>
