- if current_user.is_admin
  - activity_records = ActivityRecord.where(user_to_notificate: current_user.id).order(:id).reverse_order
-else
  - activity_records = ActivityRecord.where(user_to_notificate: current_user.id).order(:id).reverse_order
- unread = activity_records.where(is_read: false).where("user_id != ?", current_user.id).count
- contacts = Contact.all

.row.navbar-fixed-top.top-menu
  .container
    .row.text-center
      .col-xs-2
        %a{ href: root_path }
          %i#home-bar-menu-logo.icomoon-logo.white
      .col-xs-1.col-xs-offset-4.menu-btn
        .dropdown
          %a.menu-element.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
            %i.icomoon-mi-actividad
            - if unread != 0
              %span.notification-badge.badge
                = unread
          %ul#activity-records.dropdown-menu{ role: "menu" }
            - if activity_records.length > 0
              - activity_records.each do |ar|
                - if ar.user_id != current_user.id
                  %li.activity-record{ class: get_activity_record_class(ar.is_read, ar.activity_type) }
                    %a{ href: view_notification_path(notification: ar.id, read: ar.is_read ? 1 : 0) }
                      .row
                        .col-xs-3.text-center
                          - if [2, 7, 9].include?(ar.activity_type)
                            = image_tag "logo-mono.png", width: "35px;", height: "35px", class: "img-circle", style: "position: relative; top: 2px;"
                          - elsif ar.activity_type == 5
                            = image_tag "completed.png", width: "35px;", height: "35px", class: "img-circle", style: "position: relative; top: 2px;"
                          - elsif ar.user.avatar.url != "/avatars/original/missing.png"
                            = image_tag ar.user.avatar.url, width: "35px;", height: "35px", class: "img-circle", style: "position: relative; top: 2px;"
                          -else
                            %i.icomoon-yo.dark-gray{ style: "position: relative; top: 7px; font-size: 35px;" }
                        .col-xs-9
                          %span{ style: "font-weight: 600;", class: [2, 5, 7, 9].include?(ar.activity_type) ? "white" : "black" }
                            = [2, 5, 7, 9].include?(ar.activity_type) ? "yociudadano" : ar.user.username
                          %span{ style: "font-size: 11px;" }
                            = "hace #{get_oldness((Time.now - ar.created_at).to_i)}"
                          %div{ style: "line-height: 1;" }
                            = get_activity_type_text(ar.activity_type)
            - else
              %li.text-center{ style: "font-weight: 600; min-height: 0px; padding: 10px 20px;" }
                No tienes ningún registro de actividad
      .col-xs-1.menu-btn
        .dropdown
          %a.menu-element.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
            %i.icomoon-directorio
          %ul#directory.dropdown-menu{ role: "menu" }
            - if contacts.length > 0
              - contacts.each do |c|
                %li.contact
                  .row
                    .col-xs-3.text-center
                      - if c.avatar.url != "/avatars/original/missing.png"
                        = image_tag c.avatar.url, width: "35px;", height: "35px", class: "img-circle"
                      -else
                        %i.glyphicon.glyphicon-earphone{ style: "position: relative; top: 7px; font-size: 25px;" }
                    .col-xs-9
                      .black{ style: "font-weight: 600;" }
                        = c.name
                      %div
                        = c.phone
            - else
              %li.text-center{ style: "font-weight: 600; min-height: 0px;" }
                No se han agregado contactos
      .col-xs-1.menu-btn
        .dropdown
          %a#avatar.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
            %i.icomoon-yctv{ style: "position: relative; top: 2px;font-size: 25px;padding:0 5px" }
          %ul.dropdown-menu{ role: "menu" }
            %li
              = link_to "Ver lista de reproduccion",  playlist_show_path 
      .col-xs-1.menu-btn
        .dropdown
          %a#avatar.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
            - if current_user.avatar.url != "/avatars/original/missing.png"
              = image_tag current_user.avatar.url, width: "35px;", height: "35px", class: "img-circle"
            -else
              - if current_user.omniauth_image.nil?
                %i.icomoon-yo{ style: "position: relative; top: 6px;" }
              - else
                = image_tag current_user.omniauth_image, width: "35px", height: "35px", class: 'img-circle'
          %ul.dropdown-menu{ role: "menu" }
            %li
              = link_to "#{current_user.username} (Perfil)", edit_user_registration_path
              - if current_user.is_admin
                - if current_user.departamento == 1
                  %li
                    = link_to "Reportes", '/administration/limpia'
                - elsif current_user.departamento == 2
                  %li
                    = link_to "Reportes", '/administration/pavimento'
                - elsif current_user.departamento == 3
                  %li
                    = link_to "Reportes", '/administration/parques'
                - elsif current_user.departamento == 4
                  %li
                    = link_to "Reportes", '/administration/alumbrado'
                - else
                  %li
                    = link_to "Panel de administración", '/administration/reports'
            %li.divider
            %li
              = link_to "Cerrar sesión", destroy_user_session_path, :method => :delete
      #menu-new-report.col-xs-2
        %a{ href: new_report_path, id: "menu-new-report-btn" }
          %i.glyphicon.glyphicon-edit.new-report-icon
          %span.new-report-text
            Nuevo reporte