#modal-complete.modal.fade{ "tab-index" => -1, role: "dialog", "aria-labelledby" => "modal-label" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => true }
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          Evidencia de problema resuelto
      .modal-body
      
:javascript
  var token = $("meta[name='csrf-token']").attr('content');
  $("#modal-complete").on("show.bs.modal", function(event) {
    var button = $(event.relatedTarget);
    var report_id = button.data("id");
    $(".modal-body").html('<form accept-charset="UTF-8" action="/reports/' + report_id + '" class="edit_report" enctype="multipart/form-data" id="edit_report_' + report_id + '" method="post">\
      <div style="display:none">\
        <input name="utf8" type="hidden" value="&#x2713;" />\
        <input name="_method" type="hidden" value="patch" />\
        <input name="authenticity_token" type="hidden" value="' + token + '" />\
      </div>\
      <label for="report_evidence">Agregar imagen</label>\
      <input id="report_evidence" name="report[evidence]" type="file" />\
      <div class="evidence-image text-center" style="margin-top: 10px; display: none;">\
        <img style="max-width: 100%; max-height: 350px; border-radius: 5px;">\
      </div>\
      <div style="margin-top: 20px;">\
        <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>\
        <input class="btn btn-orange" id="add-evidence-btn" name="commit" type="submit" value="Enviar" />\
      </div>\
    </form>');
    
    $("#report_evidence").change(function(event) {
      var preview = $(".evidence-image img");
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        image_base64 = e.target.result;
        preview.attr("src", image_base64);
        preview.attr("alt", "Vista previa no dispobible");
      };
      reader.readAsDataURL(file);
      $(".evidence-image").show();
    });
    
    $("#add-evidence-btn").click(function() {
      if($("#report_evidence").val() === ""){
        alert("Necesitas adjuntar una imagen como evidencia para proponer el reporte como resuelto");
        return false;
      }
    });
  });