- content_for :head do
  %script{src: "https://maps.googleapis.com/maps/api/js?language=es&key=AIzaSyA47C4qJmfWX1vVgsj0plfElJPuBAnb46Y"}   
= render "menu"
#main-map.row
- if @reports.length > 0
  #recent-reports.row
    .container
      .row
        .col-xs-12.text-center
          %i#recent-reports-icon.glyphicon.glyphicon-time.dark-gray
        #recent-reports-text.col-xs-12.text-center.orange
          Reportes recientes
        - @last_reports.each do |report|
          .col-xs-4.recent-report-col
            .report-preview{ style: "background: url('#{report.image.url}') center center; background-size: cover;" }
              .mask.white
                .report-title
                  - if report.title
                    = report.title[0..25] + (report.title.length > 25 ? "..." : "")
                .report-info
                  = "Por <span class='orange'>#{report.user.username[0..30] + (report.user.username.length > 30 ? "..." : "")}</span> hace #{get_oldness((Time.now - report.created_at).to_i)}".html_safe
                .report-details-title
                  Otros detalles:
                .report-details
                  - if report.details
                    = report.details[0..100] + (report.details.length > 100 ? "..." : "")
                #report-actions
                  .report-icons.text-center.row
                    -# %span
                    -#  %a.action-btn
                    -#    %i.icomoon-compartir{ style: "display: block; position: relative; top: 10px;" }
                    -#    %span.action-text
                    -#      Compartir
                    
                    %span
                      %a.action-btn{ href: report_path(report) }
                        %i.icomoon-ver-mas{ style: "display: block; position: relative; top: 10px;" }
                        %span.action-text
                          Ver más
#main-mobile-info.row
  .container
    .row.text-center
      #smartphone.col-xs-12
        = image_tag "smartphone.png", width: "300px;"
      #mobile-info-logo-text.col-xs-12.white
        %i#mobile-info-logo.icomoon-logo.white
        en tu smartphone
      #mobile-info-text.col-xs-10.col-xs-offset-1.white
        Realiza reportes sobre la marcha, comenta, comparte y reporta los problemas resueltos desde donde estés.
        %br
        Utiliza la tecnología GPS para ubicar rápidamente el problema y encontrar los problemas de tu zona.
      = render "home/platforms"
= render "home/society_info"
= render "map"
= render "modal"