= render "home/top_menu"
.row{style: "margin-top: 60px; padding-bottom: 100px;"}
  .container
    .row
      .col-xs-5
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          .row
            .col-xs-12
              .black{ style: "margin-top: 80px; font-size: 40px; font-weight: 300;" }
                Enviar instrucciones de confirmación
          .row
            .col-xs-12
              = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Correo electrónico", style: "margin-top: 20px; width: 300px;"
              = f.submit "Enviar", class: "btn btn-orange", style: "width: 300px; display: block; margin-top: 50px;"