- reports = Report.where(user_id: current_user.id).where("status in (?)", [2, 3]).count
- comments = Comment.where(user_id: current_user.id).count

- content_for :head do
  = stylesheet_link_tag "star", media: "all"
= render "main/menu"
.row{ style: "margin-top: 60px; padding-bottom: 70px; background-color: #f2f4f6;" }
  .container
    .orange.text-center{ style: "margin-top: 30px; font-size: 36px; font-weight: 300;" }
      Perfil
    #avatar-image.text-center{ style: "margin-top: 20px;" }
      - if current_user.avatar.url != "/avatars/original/missing.png"
        = image_tag current_user.avatar.url, width: "200px;", height: "200px", class: "img-circle"
      - else
        - if current_user.omniauth_image.nil?
          %i.icomoon-yo.dark-gray{ style: "font-size: 200px;" }
        - else
          -if current_user.identities.select("provider")[0].provider=~/facebook/
            = image_tag current_user.omniauth_image + '?type=large', width: "200px;", height: "200px", class: 'img-circle'
          -else
            = image_tag current_user.omniauth_image.to_s[0..-12]+".jpg", width: "200px;", height: "200px", class: 'img-circle'
    %div
      .text-center.darkest-gray{ style: "font-size: 36px; font-weight: 300;" }
        = resource.name
      .text-center.black
        %span{ style: "font-weight: 700;" }
          = "#{resource.username}."
        %span
          Ciudadano desde
          = resource.created_at.strftime("%d/%m/%Y")
    %div.text-center{ style: "margin: 20px auto 0 auto; width: 600px; height: 100px; font-weight: 300;" }
      .col-xs-4
        .green{ style: "height: 60px; padding: 5px; font-size: 40px;" }
          = reports
        %div{ style: "font-size: 18px;" }
          Reportes
      .col-xs-4
        .orange{ style: "height: 60px; padding: 5px; font-size: 40px;" }
          = comments
        %div{ style: "font-size: 18px;" }
          Comentarios
      .col-xs-4
        %div{ style: "height: 60px; padding-top: 15px; font-size: 30px;", class: reports.between?(1, 14) ? "bronze" : (reports.between?(15, 34) ? "silver" : ("gold" if reports >= 35)) }
          - case(reports)
          - when 0
          - when 1..4, 15..19, 35..44
            %i.star-estrella
          - when 5..9, 20..24, 45..59
            %i.star-estrella
            %i.star-estrella
          - else
            %i.star-estrella
            %i.star-estrella
            %i.star-estrella
        %div{ style: "font-size: 18px;" }
          Nivel
.row{ style: "margin-top: 60px; padding-bottom: 70px;" }
  .container
    - if current_user.identities.empty?
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %div{ style: "width: 300px; margin: 0 auto;" }
          .text-center{ style: "font-size: 36px; font-weight: 300;" }
            Cambiar avatar y/o contraseña
          .form-group
            = f.label :avatar
            = f.file_field :avatar
          .form-group
            = f.label :password, "Contraseña"
            %span{ style: "font-size: 12px;" }
              (dejar en blanco si no desea cambiar)
            = f.password_field :password, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :password_confirmation, "Repetir contraseña"
            = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          .form-group{ style: "margin-top: 30px;" }
            = f.label :current_password, "Contraseña actual"
            %span{ style: "font-size: 12px;" }
              (ingrese para guardar cambios)
            = f.password_field :current_password, autocomplete: "off", class: "form-control"
          %div
            = f.submit "Guardar", class: "btn btn-orange", style: "width: 100%;"
    %div{ style: "width: 300px; margin: 0 auto;" }
      %h3{ style: "margin-top: 70px; font-weight: 300;" }
        Cancelar mi cuenta
      = button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro de cancelar su cuenta?" }, method: :delete, class: "btn btn-danger", style: "width: 100%;"
:javascript
  $(document).ready(function() {
    $("#user_avatar").change(function(event) {
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        image_base64 = e.target.result;
        $("#avatar-image").html("<img src='' width='200px' height='200px' class='img-circle'>");
        var preview = $("#avatar-image img");
        preview.attr("src", image_base64);
        preview.attr("alt", "Vista previa no dispobible");
      };
      reader.readAsDataURL(file);
    });
bn  });