= render "home/top_menu"
.row{style: "margin-top: 60px; padding-bottom: 100px;"}
  .container
    .row
      .col-xs-5
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .row
            .col-xs-12
              .black{ style: "margin-top: 80px; font-size: 40px; font-weight: 300;" }
                Regístrate aquí
              .darkest-gray{ style: "font-size: 28px; font-weight: 300;" }
                Datos generales
          .row
            .col-xs-12
              = f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nombre completo", style: "margin-top: 20px; width: 300px;"
              = f.text_field :username, class: "form-control", placeholder: "Nombre de usuario", style: "margin-top: 15px; width: 300px;"
              = f.email_field :email, class: "form-control", placeholder: "Correo electrónico", style: "margin-top: 15px; width: 300px;"
              = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña (8 caracteres como mínimo)", style: "margin-top: 15px; width: 300px;"
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Repetir contraseña", style: "margin-top: 15px; width: 300px;"
          .row
            .col-xs-12
              .darkest-gray{ style: "margin-top: 30px; font-size: 28px; font-weight: 300;" }
                Información demográfica
              = f.label :birthdate, "Fecha de nacimiento:", style: "font-weight: 600; display: block; margin-top: 5px;"
              = select_tag :day, options_for_select((1..31).map{|e| [e, e]}), prompt: "Día", class: "form-control", style: "width: 80px; display: inline-block;"
              = select_tag :month, options_for_select([["Enero", 1], ["Febrero", 2], ["Marzo", 3], ["Abril", 4], ["Mayo", 5], ["Junio", 6], ["Julio", 7], ["Agosto", 8],
                ["Septiembre", 9], ["Octubre", 10], ["Noviembre", 11], ["Diciembre", 12]]), prompt: "Mes", class: "form-control", style: "width: 120px; display: inline-block; margin-left: 5px;"
              = select_tag :year, options_for_select((1950..2000).map{|e| [e, e]}), prompt: "Año", class: "form-control", style: "width: 80px; display: inline-block; margin-left: 5px;"
              = f.hidden_field :birthdate
              = f.select :gender, options_for_select([["Masculino", "M"], ["Femenino", "F"]], selected: @user.gender), { prompt: "Género" }, class: "form-control", style: "width: 150px; margin-top: 10px;"
              .checkbox.darkest-gray{ style: "margin-top: 30px;" }
                %label
                  = check_box_tag :accept
                  = "He leído y acepto los <a class='link-orange'>términos y condiciones de uso</a>".html_safe
                  = link_to("Politica de Privacidad", "/users/politica")
              = f.submit "Registrarse", class: "btn btn-orange", style: "width: 300px; display: block; margin-top: 50px;", id: "register-user-btn"
        
        .row{ style: "margin-top: 15px;" }
          .col-xs-12
            %hr{ style: "width: 145px; display: inline-block; border-color: #cdcccc;"}
            %span{ style: "display: inline-block; position: relative; top: -17px;"}
              ó
            %hr{ style: "width: 145px; display: inline-block; border-color: #cdcccc;"}
        .row{ style: "margin-top: 10px;" }
          .col-xs-12
            / %a.btn.btn-primary{ style: "width: 300px; display: block; cursor: default;" }
            /   Inicia sesión con Facebook
            = link_to "Inicia sesión con Facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-block', style: 'width: 300px;'
            = link_to "Inicia sesión con Twitter", user_omniauth_authorize_path(:twitter), class: 'btn btn-info  btn-block', style: 'width: 300px;'
      = render "devise/shared/right_column"

:javascript
  $("#register-user-btn").click(function() {
    $("#user_birthdate").val($("#day").val() + "-" + $("#month").val() + "-" + $("#year").val());
    
    if(document.getElementById("accept").checked == false) {
      alert("Necesitas aceptar los términos y condiciones de uso");
      return false;
    }
  });