- if controller_name != 'sessions'
  = link_to "Iniciar sesión", new_session_path(resource_name)

- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Crear cuenta", new_registration_path(resource_name)

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "¿Olvidó su contraseña?", new_password_path(resource_name)

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "¿No recibió las instrucciones de confirmación?", new_confirmation_path(resource_name)

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)

- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Iniciar sesión con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)