.col-xs-7
  .row
    .col-xs-12.text-center{ style: "margin-top: 25px;" }
      = image_tag "diagrama.png", width: "450px"
  .row
    .col-xs-12.black{ style: "margin-top: 50px; font-size: 40px; font-weight: 300;" }
      Una comunidad que se adapta a tus gustos
  .row.darkest-gray
    .col-xs-12{ style: "margin-top: 50px; font-size: 28px; font-weight: 300;" }
      Crea una nueva cuenta utilizando tu correo electrónico o ingresa con tu cuenta de Facebook, Twitter o Google+. Elige tu nombre de usuario y tu imagen de perfil, o utiliza los datos que ya usas en tus redes sociales.
    .col-xs-12{ style: "margin-top: 50px; font-size: 28px; font-weight: 300;" }
      = "Enlaza tus redes sociales para compartir o publicar tu actividad en <span style='font-weight: 400;'>Yo</span>Ciudadano".html_safe