%script{:src => "//yociudadano.com.mx/assetsexternos/jquery.dataTables.min.js"}
%script{:src => "//yociudadano.com.mx/assetsexternos/horizBarChart.js"}
:javascript
  $(document).ready(function(){
  $('.chart').horizBarChart({
    selector: '.bar',
    speed: 3000
  });
  });
:css
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
  .chart {
      zoom: 1;
      width: 90%
  }
  
  .chart:after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      visibility: hidden
  }
  
  .chart li {
      display: block;
      height: 40px;
      margin-top: 3px;
      position: relative
  }
  
  .chart li:before {
      color: #fff;
      content: attr(title);
      left: 5px;
      position: absolute
  }
  
  .chart li.title:before {
      color: black;
      font-weight: bold;
      left: 0;
      font-family: Montserrat;
      font-size: 30px;
  }
  
  .chart li:first-child {
      margin-top: 0
  }
  
  .chart li .bar {
      background: #F89839;
      height: 100%
  }
  
  .chart li .number {
      color: black;
      font-size: 18px;
      font-weight: bold;
      padding-left: 5px;
      position: absolute;
      top: -2px
  }
  
  .chart li.past .bar {
      background: #aaa
  }
  
  .chart li.past .number {
      color: #000
  }
  
  @media screen and (max-width: 480px) {
      .chart li {
          height: auto
      }
      .chart li:before {
          color: black;
          display: block;
          left: 0;
          position: relative
      }
      .chart li.title:before {
          border-bottom: 1px solid
      }
      .chart li .bar {
          height: 23px
      }
      .chart li .number {
          display: block;
          left: 0 !important;
          padding-left: 0;
          position: relative;
          top: -8px
      }
  }
  
  
  .chart li.past #seccion1{
      background: #57C1AF;
  }
  
  .chart li.past #seccion2{
      background: #EE2263;
  }
  
  .chart li.past #seccion3{
      background: #B2A095;
  }
  
  .chart li.past #seccion4{
      background: #C39A6B;
  }
  
  
  
  .past{
   font-size: 25px;
   font-family: 'Montserrat';
  }
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
= render "main/menu"
= render "administration/admin_menu", active: "estadistica"
// .container
//   %table.table.table-striped.info-table
//     %thead
//       %tr
//         %th<
//           Reportes del Mes
//         %th<
//           Reportes Abiertos
//         %th<
//           Reportes Resueltos
//     %tbody
//       %tr
//         %td<
//           - if @reportes_mes == nil
//             - @reportes_mes = Report.where('extract(month from created_at) = ? and extract(year from created_at) = ?', Time.now.month, Time.now.year)
//             = @reportes_mes.count
//           - else
//             #{@reportes_mes.count}
//         %td<
//           #{Report.where(status: [2], report_category_id: [1] ).count}
//         %td<
//           #{Report.where(status: [4], report_category_id: [1] ).count}
.container
  .row
    = form_tag("/administration/estadistica", method: "get") do
      = label_tag(:buscame, "Buscar por mes")
      = month_field("", :buscame)
      = submit_tag("Buscar")
                  
                  
                  
.container
  .row
    .col-md-6
      %h1 Mes
      %div{ :style => "font-size:100px;"}
        -if @sammito == nil
          #{Date::MONTHNAMES[Date.today.month]}
        -else
          #{Date::MONTHNAMES[@sammito[5..6].to_i]}
    .col-md-6
      %h1 Reportes del Mes
      %div{ :style => "font-size:100px;"}
        - if @reportes_mes == nil
          - @reportes_mes = Report.where('extract(month from created_at) = ? and extract(year from created_at) = ?', Time.now.month, Time.now.year)
          = @reportes_mes.count
        - else
          #{@reportes_mes.count}
  .row
    .col-md-6
      %h1 Reportes Totales Generados
      %div{ :style => "font-size:100px;"}
        #{Report.all.count}
    .col-md-6
      %h1 Reportes Totales Resueltos
      %div{ :style => "font-size:100px;"}
        #{Report.where("status = ?", 4).count}
  .row
    .col-md-6
      %h1 Usuarios Totales Registrados
      %div{ :style => "font-size:100px;"}
        #{@usuariostotales}
    .col-md-6
      %h1 Usuarios registrados en el Mes
      %div{ :style => "font-size:100px;"}
        #{@usuarios_mes}
    .col-md-12 
      %h3 Reportes Mensuales
      = line_chart Report.group_by_month(:created_at).count
      //= pie_chart({"Football" => 10, "Basketball" => 5})
    .col-md-12
      %h3 Usuarios Registrados Mensuales
      = line_chart User.group_by_month(:created_at).count
      //= line_chart Report.group(:status).group_by_month(:created_at).count,   colors: ["#63b598", "#ce7d78", "#ea9e70", "#a48a9e", "#c6e1e8"], library: { hAxis: {slantedText: true, slantedTextAngle: 45, title:"Mes" }, vAxis: {title: "Usuarios"} } 
      //= pie_chart({"Football" => 10, "Basketball" => 5})
    .col-md-12
      %h3 Reportes resueltos Mensuales
      = line_chart Report.where("status = ?",4).group_by_month(:updated_at).count
    .col-md-12
      %h3 Reportes abiertos Mensuales
      = line_chart Report.where("status = ?",2).group_by_month(:created_at).count
    // .col-md-12
    //   %h3 Reportes abiertos vs Reportes Resueltos (Mes)
    //   = line_chart networth_data, colors: ["#FF0000", "green"], library: {backgroundColor: "#FFF", height: "100%"} 
  .row
    .col-md-6
      %h1 Top de Reportes 
      %ul.chart
        - @top.each do |p|
          %li
            %span.bar{"data-number" => "#{p[1]}"}
            %span.number #{buscausuario(p[0])} #{p[1]} Reportes
    .col-md-6
      %h1 Top Commenters
      %ul.chart
        - @topcomments.each do |p|
          %li
            %span.bar{"data-number" => "#{p[1]}"}
            %span.number #{buscausuario(p[0])} #{p[1]} Comentarios
.row
  .container
    .row
      .col-xs-12
        // = form_tag "/administration/estadistica", :method => 'get' do
        //   %p
        //     = text_field_tag :search, params[:search]
        //     = submit_tag "Filtrar", :title => nil
        %table#products.table.table-striped.info-table
          %thead
            %tr
              %th<
                ID
              %th<
                Título
              %th<
                Estado
              %th<
                Fecha
              %th<
                Usuario
              %th<
                Categoría
              %th<
                Descripción
              %th<
                Descripción
          %tbody
            - @reportes_mes.order("id desc").each do |report|
              %tr
                %td<
                  = report.id
                %td<
                  = report.title
                %td<
                  %span{ class: color_label(report.status) }
                    = get_report_status(report.status)
                %td<
                  = report.created_at.localtime.strftime('%d-%m-%Y')
                %td<
                  = get_report_username(report.user_id)
                %td<
                  = get_report_category(report.report_category_id)
                %td<
                  = report.details
                %td<
                  = link_to "Ver", report, class: "btn btn-orange btn-xs"
        // = will_paginate @products

      
      
      
      
