.row{ style: "margin-top: 60px;" }
  .container
    .row
      #admin-title.col-xs-12.orange
        Panel de administración
        = current_user
      #admin-menu.col-xs-12
        %ul.nav.nav-pills
          %li{ role: "presentation", class: active == "directory" ? "active" : nil }
            = link_to "Limpia", limpia_path