.row{ style: "margin-top: 60px;" }
  .container
    .row
      #admin-title.col-xs-12.orange
        Panel de administración
      #admin-menu.col-xs-12
        %ul.nav.nav-pills
          - if current_user.departamento == 0
            %li{ role: "presentation", class: active == "reports" ? "active" : nil }
              = link_to "Reportes", "/administration/reports"
          - if current_user.departamento == 0
            %li{ role: "presentation", class: active == "users" ? "active" : nil }
              = link_to "Usuarios", users_path
          - if current_user.departamento == 0
            %li{ role: "presentation", class: active == "directory" ? "active" : nil }
              = link_to "Directorio", contacts_path
          - if current_user.departamento == 0 || current_user.departamento == 1
            %li{ role: "presentation", class: active == "limpia" ? "active" : nil }
              = link_to "Limpia", limpia_path
          - if current_user.departamento == 0 || current_user.departamento == 2
            %li{ role: "presentation", class: active == "pavimento" ? "active" : nil }
              = link_to "Pavimento", pavimento_path
          - if current_user.departamento == 0 || current_user.departamento == 3
            %li{ role: "presentation", class: active == "parques" ? "active" : nil }
              = link_to "Parques", parques_path
          - if current_user.departamento == 0 || current_user.departamento == 4
            %li{ role: "presentation", class: active == "alumbrado" ? "active" : nil }
              = link_to "Alumbrado", alumbrado_path
          - if current_user.departamento == 0
            %li{ role: "presentation", class: active == "estadistica" ? "active" : nil }
              = link_to "Estadistica", "/administration/estadistica"
          - if current_user.departamento == 0
            %li{ role: "presentation", class: active == "comentarios" ? "active" : nil }
              = link_to "Comentarios", "/administration/comentario"