= render "main/menu"
.row{ style: "margin-top: 60px; padding-bottom: 70px;" }
  .container
    .row
      .col-xs-4.orange{ style: "font-size: 40px; font-weight: 300; margin-top: 30px;" }
        Agregar contacto
    .row
      .col-xs-12{ style: "margin-top: 20px;" }
        = form_tag(create_contact_path, method: :post) do
          .row
            .col-xs-3
              = label_tag :name, "Nombre", class: "darkest-gray"
              = text_field_tag :name, "", class: "form-control"
            .col-xs-3
              = label_tag :phone, "Teléfono", class: "darkest-gray"
              = text_field_tag :phone, "", class: "form-control"
            .col-xs-6{ style: "margin-top: 25px;" }
              = submit_tag "Crear", class: "btn btn-primary"
              = link_to "Cancelar", administration_directory_path, class: "btn btn-danger", style: "margin-left: 10px;"
