.row
  .col-xs-12
    = form_for @user do |f|
      .row{ style: "margin-top: 20px;" }
        .col-xs-3
          = f.label :name, "Nombre", class: "darkest-gray"
          = f.text_field :name, class: "form-control"
      .row
        .col-xs-3
          = f.label :username, "Nombre de usuario", class: "darkest-gray"
          = f.text_field :username, class: "form-control"
      .row
        .col-xs-3
          = f.label :email, "Correo electrónico", class: "darkest-gray"
          = f.text_field :email, class: "form-control"
      .row
        .col-xs-3
          = f.label :password, "Contraseña (6 caracteres mínimo)", class: "darkest-gray"
          = f.password_field :password, autocomplete: "off", class: "form-control"
      .row
        .col-xs-3
          = f.label :password_confirmation, "Repetir contraseña", class: "darkest-gray"
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      .row
        .col-xs-12
          = f.label :birthdate, "Fecha de nacimiento", class: "darkest-gray", style: "display: block;"
          = select_tag :day, options_for_select((1..31).map{|e| [e, e]}), prompt: "Día", class: "form-control", style: "width: 80px; display: inline-block;"
          = select_tag :month, options_for_select([["Enero", 1], ["Febrero", 2], ["Marzo", 3], ["Abril", 4], ["Mayo", 5], ["Junio", 6], ["Julio", 7], ["Agosto", 8],
            ["Septiembre", 9], ["Octubre", 10], ["Noviembre", 11], ["Diciembre", 12]]), prompt: "Mes", class: "form-control", style: "width: 120px; display: inline-block; margin-left: 5px;"
          = select_tag :year, options_for_select((1950..2000).map{|e| [e, e]}), prompt: "Año", class: "form-control", style: "width: 80px; display: inline-block; margin-left: 5px;"
          = f.hidden_field :birthdate
      .row
        .col-xs-3
          = f.label :gender, "Género", class: "darkest-gray"
          = f.select :gender, options_for_select([["Masculino", "M"], ["Femenino", "F"]], selected: @user.gender), { prompt: "Género" }, class: "form-control"
      .row
        .col-xs-6{ style: "margin-top: 25px;" }
          = f.submit "Crear", class: "btn btn-orange", id: "create-user-btn"
          = link_to "Cancelar", users_path, class: "btn btn-danger", style: "margin-left: 10px;"
:javascript
  $("#create-user-btn").click(function() {
    $("#user_birthdate").val($("#day").val() + "-" + $("#month").val() + "-" + $("#year").val());
  });