<%= render "home/top_menu" %>
<div id="add-email" class="container">
  <div class='black' style="margin-top: 80px; font-size: 40px; font-weight: 300;">
    Completa el registro
  </div>
  <div class='darkest-gray' style="font-size: 28px; font-weight: 300; margin-bottom: 15px;">
    Datos generales
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form', onsubmit: 'return validateTerms()', class: 'form-horizontal'}) do |f| %>
        <% if @show_errors && current_user.errors.any? %>
          <div id="error_explanation">
            <% current_user.errors.full_messages.each do |msg| %>
              <%= msg %><br>
            <% end %>
          </div>
        <% end %>
        <div class="form-group">
          <div class="col-xs-4">
            <%= f.text_field :username, :autofocus => true, :value => '', class: 'form-control', placeholder: 'Nombre de usuario', required: true %>
          </div>
        </div>
        <%@user.identities.each do |p|%>
          <%if p.provider=="twitter"%>
            <div class="form-group">
              <div class="col-xs-4">
                <%= f.text_field :email, :autofocus => true, :value => '', class: 'form-control', placeholder: 'Correo electrónico', required: true %>  
              </div>
            </div>
          <%end%>
        <%end%>
        <div class='darkest-gray' style="font-size: 28px; font-weight: 300; margin-bottom: 15px;">
          Información demográfica
        </div>
        <%= f.label :birthdate, "Fecha de nacimiento:", style: "font-weight: 600; display: block; margin-top: 5px;" %>
        <%= select_tag :day, options_for_select((1..31).map{|e| [e, e]}), prompt: "Día", class: "form-control", style: "width: 80px; display: inline-block;", required: true %>
        <%= select_tag :month, options_for_select([["Enero", 1], ["Febrero", 2], ["Marzo", 3], ["Abril", 4], ["Mayo", 5], ["Junio", 6], ["Julio", 7], ["Agosto", 8],
          ["Septiembre", 9], ["Octubre", 10], ["Noviembre", 11], ["Diciembre", 12]]), prompt: "Mes", class: "form-control", style: "width: 120px; display: inline-block; margin-left: 5px;", required: true %>
        <%= select_tag :year, options_for_select((1950..2000).map{|e| [e, e]}), prompt: "Año", class: "form-control", style: "width: 80px; display: inline-block; margin-left: 5px;", required: true %>
        <%= f.hidden_field :birthdate %>
        <div class='form-group'>
          <div class='col-xs-4'>
            <%= f.select :gender, options_for_select([["Masculino", "M"], ["Femenino", "F"]], selected: @user.gender), { prompt: "Género" }, class: "form-control", style: "width: 150px; margin-top: 10px; margin-bottom: 15px;", required: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <%= check_box_tag :accept %>
            <%= "He leído y acepto los <a class='link-orange'>términos y condiciones de uso</a>".html_safe %>
          </div>
        </div>
        <div class="form-group">
          <div class='col-xs-4'>
            <%= f.submit 'Continuar', class: 'btn btn-orange btn-block', style: 'margin-top: 30px;margin-bottom: 30px;' %>
            <%= f.submit "Registrarse", class: 'btn btn-orange', style: 'margin-top: 30px;margin-bottom: 30px;' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <script>
    function validateTerms() {
      $("#user_birthdate").val($("#day").val() + "-" + $("#month").val() + "-" + $("#year").val());
      if(document.getElementById("accept").checked == false) {
        alert("Necesitas aceptar los términos y condiciones de uso");
        return false;
      }
    }
  </script>
</div>