= render "main/menu"
= render "administration/admin_menu", active: "users"
.row
  .container
    .row
      .form-div.col-xs-12
        = link_to "Agregar administrador", new_user_path, class: "btn btn-orange", style: "margin-top: 30px;"
    .row
      .col-xs-12
        %table.table.table-striped.info-table
          %thead
            %tr
              %th<
                ID
              %th<
                Nombre
              %th<
                Nombre de usuario
              %th<
                Correo electrónico
              %th<
                Género
              %th<
                Fecha de nacimiento
              %th<
                Año de Nacimiento
              %th<
                Nivel
          %tbody
            - @users.order("id asc").each do |user|
              %tr
                %td<
                  = user.id
                %td<
                  = user.name
                %td<
                  = user.username
                %td<
                  = user.email
                %td<
                  = user.gender
                %td<
                  = user.birthdate
                %td<
                  = user.birthdate.to_s.split(//).last(4).join
                %td<
                  = user.is_admin ? "Administrador" : "Normal"