= render "home/top_menu"
.row{style: "margin-top: 60px; padding-bottom: 100px;"}
  .container
    .row
      .col-xs-5
        .black{ style: "margin-top: 80px; font-size: 40px; font-weight: 300;" }
          Cambio de contraseña
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.hidden_field :reset_password_token
          = f.password_field :password, placeholder: "Nueva contraseña", autofocus: true, autocomplete: "off", class: "form-control", style: "margin-top: 20px; width: 300px;"
          = f.password_field :password_confirmation, placeholder: "Confirmar nueva contraseña", autocomplete: "off", class: "form-control", style: "margin-top: 10px; width: 300px;"
          = f.submit "Cambiar", class: "btn btn-orange", style: "width: 300px; display: block; margin-top: 50px;"