#platforms.col-xs-12
  = link_to image_tag('appstore.png', {:alt=>"Alt title", :title=>"Link title", width: "150px", class: "platform-image"}) , "http://corta.me/k5t"
  = link_to image_tag('gplay.png', {:alt=>"Alt title", :title=>"Link title", width: "150px", class: "platform-image"}) , "http://corta.me/k5u"
