#home-society-info.row.text-center
  .container
    .row
      #home-society-logo.col-xs-12
        = image_tag "logopej.png", width: "320px"
    .row
      #home-society-text.col-xs-10.col-xs-offset-1.dark-gray
        YoReporto es una aplicación creada por Plan Estratégico de Juárez , A.C., somos una organización sin fines de lucro y apartidista que tiene por objetivo la construcción de una fuerza ciudadana que participe en los asuntos públicos,
        proponiendo y exigiendo una mejor ciudad. A través de esta herramienta, todos los juarenses podemos contribuir a construir una mejor ciudad de manera sencilla.
        Todos los reportes elaborados son enviados a las dependencias municipales correspondientes.
    .row
      %a{ href: "http://www.planjuarez.org", target: "_blank" }
        #home-society-site.col-xs-4.col-xs-offset-4.text-center.btn-orange
          Visitar sitio oficial