#home-bar-menu.row.navbar-fixed-top.top-menu
  .container
    .row
      .col-xs-2
        %a{ href: root_path }
          %i#home-bar-menu-logo.icomoon-logo.white
      #home-bar-menu-btns.col-xs-6.col-xs-offset-4.text-right
        - unless params['action'] == 'finish_signup'
          = link_to "Funciones", "#{root_path if params[:controller] != "home"}#home-info", class: "home-bar-menu-btn"
          = link_to "Acerca de", "#{root_path if params[:controller] != "home"}#home-society-info", class: "home-bar-menu-btn"
          = link_to "Iniciar sesión", user_session_path, class: "home-bar-menu-btn home-bar-menu-btn-border"