= render "top_menu"

#home-splash.row
  .container
    .row
      #home-menu.col-xs-6.col-xs-offset-6.text-right
        = link_to "Funciones", "#home-info", class: "home-menu-btn"
        = link_to "Acerca de", "#home-society-info", class: "home-menu-btn"
        = link_to "Iniciar sesión", user_session_path, class: "home-menu-btn home-menu-btn-border"
    #home-logo.row.text-center
      = image_tag "yociudadano.png", width: "290px"
    .row
      #home-slogan.col-xs-6.col-xs-offset-3.white.text-center
        Una nueva manera de construir el Juárez que queremos
    .row
      .col-xs-12
        #home-sign-up.text-center
          = link_to "Regístrate", new_user_registration_path, class: "home-sign-up-btn home-sign-up-btn-border"
#home-info.row
  .container
    .row
      .col-xs-6
        .row
          #home-info-title.col-xs-12.black
            Tu denuncia con alcance social
        .row
          #home-info-text.col-xs-12.darkest-gray
            Cada reporte que realices, puede llegar simultáneamente a las autoridades correspondientes y a todos tus amigos.
            Descubre reportes realizados por otros juarenses y comparte si también te afectan
      .col-xs-6
        = image_tag "diagrama.png", width: "100%"
    #home-functions.row.text-center
      .col-xs-12
        .row
          #home-functions-title.col-xs-12.black
            Algunas funciones de YoReporto
        #home-functions-icons.row
          .col-xs-3
            = image_tag "icono_ciudad.png", width: "150px"
          .col-xs-3
            = image_tag "icono_comparte.png", width: "150px"
          .col-xs-3
            = image_tag "icono_directorio.png", width: "150px"
          .col-xs-3
            = image_tag "icono_video.png", width: "150px"
        #home-functions-icons-titles.row.dark-gray
          .col-xs-3
            Observa
          .col-xs-3
            Comparte
          .col-xs-3
            Directorio
          .col-xs-3
            YoCiudadanoTV
        #home-functions-icons-text.row.darkest-gray
          .col-xs-3
            Echa un vistazo al estado actual de tu ciudad desde nuestro mapa de reportes de la ciudad.
            Fíltralos por tipo de problema y da seguimiento a tus reportes.
          .col-xs-3
            Comenta tus experiencias con los diferentes reportes de la ciudad y comparte los reportes que te afectan en las redes sociales que tu ya conoces.
          .col-xs-3
            Conserva al alcance de tus manos los teléfonos de emergencia y los contactos de los servidores públicos encargados de tus problemas.
          .col-xs-3
            Recibe directamente en tu app información reciente sobre el trabajo de la sociedad civil en Juárez y las noticias locales más relevantes de la semana.
          = render "platforms"
= render "society_info"
          
:javascript
  $(document).ready(function() {
    $(window).on("scroll", function() {
      if (Math.round($(window).scrollTop()) > 55) {
        $("#home-bar-menu.row.navbar-fixed-top").slideDown("fast");
      } else {
        $("#home-bar-menu.row.navbar-fixed-top").slideUp("fast");
      }
    });
    
    $('a[href^="#"]').on('click', function(e) {
      e.preventDefault();
      var target = this.hash;
      $target = $(target);
      
      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 600, 'swing');
    });
  });