= form_for @contact do |f|
  .row{ style: "margin-top: 20px;" }
    .col-xs-3
      = f.label :name, "Nombre", class: "darkest-gray"
      = f.text_field :name, class: "form-control"
    .col-xs-3
      = f.label :phone, "Teléfono", class: "darkest-gray"
      = f.text_field :phone, class: "form-control"
    .col-xs-3
      = f.label :avatar, class: "darkest-gray"
      = f.file_field :avatar
    .col-xs-3{ style: "margin-top: 25px;" }
      = f.submit "Crear", class: "btn btn-orange"
      = link_to "Cancelar", contacts_path, class: "btn btn-danger", style: "margin-left: 10px;"