= render "main/menu"
= render "administration/admin_menu", active: "directory"
.row
  .container
    .row
      .form-div.col-xs-12
        = link_to "Agregar contacto", new_contact_path, class: "btn btn-orange", style: "margin-top: 30px;"
    .row
      .col-xs-12
        %table.table.table-striped.info-table
          %thead
            %tr
              %th<
                ID
              %th<
                Nombre
              %th<
                Teléfono
              %th<
                Avatar URL
          %tbody
            - @contacts.each do |contact|
              %tr
                %td<
                  = contact.id
                %td<
                  = contact.name
                %td<
                  = contact.phone
                %td<
                  = contact.avatar.url != "/avatars/original/missing.png" ? contact.avatar.url : "Ninguno"