= render "main/menu"
.row{ style: "margin-top: 60px; padding-bottom: 70px;" }
  .container
    .row
      .col-xs-12.orange{ style: "font-size: 40px; font-weight: 300; margin-top: 30px;" }
        Agregar contacto
    = render "form"