- content_for :head do
  %meta{ :property => 'og:title', :content => 'He compartido un reporte usando YoCiudadano' }
  %meta{ :property => 'og:site_name', :content => 'YoCiudadano' }
  %meta{ :property => 'twitter:site', :content => '@planjuarez' }
  %meta{ :property => 'twitter:card', :content => 'summary_large_image' }
  %meta{ :property => 'twitter:creator', :content => '@planjuarez' }
= render "home/top_menu"
.row{style: "margin-top: 60px; padding-bottom: 100px;"}
  .container
    .row
      .col-xs-5
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .row
            .col-xs-12
              .black{ style: "margin-top: 80px; font-size: 40px; font-weight: 300;" }
                Inicia sesión
          .row
            .col-xs-12
              =f.text_field :login, autofocus: true, class: "form-control", placeholder: "Username o Correo electrónico", style: "margin-top: 20px; width: 300px;" 
              = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña", style: "margin-top: 15px; width: 300px;"
              = check_box_tag 'user[remember_me]' 
              = label_tag 'user[remember_me]', 'Recordarme en este equipo'

              = f.submit "Entrar", class: "btn btn-orange", style: "width: 300px; display: block; margin-top: 50px;"
          .row{ style: "margin-top: 20px;" }
            .col-xs-12
              = link_to "¿Olvidó su contraseña?", new_password_path(resource_name), style: "display: inline-block;"
              - # link_to "¿No recibió las instrucciones de confirmación?", new_confirmation_path(resource_name), style: "display: inline-block;"
        .row{ style: "margin-top: 15px;" }
          .col-xs-12
            %hr{ style: "width: 145px; display: inline-block; border-color: #cdcccc;"}
            %span{ style: "display: inline-block; position: relative; top: -17px;"}
              ó
            %hr{ style: "width: 145px; display: inline-block; border-color: #cdcccc;"}
        .row{ style: "margin-top: 10px;" }
          .col-xs-12
            - # %a.btn.btn-primary{ style: "width: 300px; display: block; cursor: default;" }
            = link_to "Inicia sesión con Facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-block', style: 'width: 300px;'
            = link_to "Inicia sesión con Twitter", user_omniauth_authorize_path(:twitter), class: 'btn btn-info  btn-block', style: 'width: 300px;'
      = render "devise/shared/right_column"
