= render "main/menu"
= render "administration/admin_menu", active: "alumbrado"
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.container
  %h3 Reportes abiertos vs Reportes Resueltos (Mes)
  = line_chart alumbradoreportes, colors: ["#FF0000", "green"], library: {backgroundColor: "#FFF", height: "100%"} 
.container
  %table.table.table-striped.info-table
    %thead
      %tr
        %th<
          Reportes Totales
        %th<
          Reportes Abiertos
        %th<
          Reportes Resueltos
    %tbody
      %tr
        %td<
          #{Report.where(report_category_id: [4] ).count}
        %td<
          #{Report.where(status: [2], report_category_id: [4] ).count}
        %td<
          #{Report.where(status: [4], report_category_id: [4] ).count}
.row
  .container
    .row
      .col-xs-12
        %table.table.table-striped.info-table
          %thead
            %tr
              %th<
                ID
              %th<
                Título
              %th<
                Estado
              %th<
                Fecha
              %th<
                Categoría
              %th<
                Descripción
              %th<
              
              %th
          %tbody
            - @reportelimpia.order("id desc").each do |report|
              %tr
                %td<
                  = report.id
                %td<
                  = report.title
                %td<
                  %span{ class: color_label(report.status) }
                    = get_report_status(report.status)
                %td<
                  = report.created_at.localtime.strftime('%d-%m-%Y')
                %td<
                  = get_report_category(report.report_category_id)
                %td<
                  = report.details
                %td<
                  = link_to "Ver", report, class: "btn btn-orange btn-xs"