/*
 *= require bootstrap
 *= require icomoon
 *= require_self
 *= @import 'toastr.min'
 *= require_tree .
 *= require dataTables/jquery.dataTables
 */



body {
  font-family: 'Source Sans Pro';
}

textarea {
  resize: none;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.brown {
  color: #58442b;
}

.light-orange, .gold {
  color: #fcb138;
}

.orange {
  color: #f89839;
}

.light-gray {
  color: #cdcccc;
}

.gray {
  color: #b2b2b2;
}

.dark-gray {
  color: #989898;
}

.darkest-gray {
  color: #676767;
}

.red {
  color: #bc3733;
}

.light-green {
  color: #8bc53f;
}

.green {
  color: #39b54a;
}

.bronze {
  color: #cd7f32;
}

.silver {
  color: #bdc5c6;
}

.container {
  width: 970px !important;
}

#app-container {
  min-width: 970px !important;
}

.alert {
  border-radius: 0;
  margin: 0 -15px;
}

.btn-orange {
  background-color: #fcb138;
  color: #fff; 
}

.btn-orange:hover, .btn-orange:focus {
  background-color: #f89839;
  color: #fff;
}

.link-orange {
  color: #fcb138;
}

.link-orange:hover, .link-orange:focus {
  color: #f89839;
}

.panel-default {
  border-color: #cdcccc;
}

.panel-default > .panel-heading {
  background-color: #f2f4f6;
  border-color: #cdcccc;
}

.top-menu {
  height: 60px;
  background-color: #f89839;
  border-bottom: solid #b2b2b2 2px;
}

#home-bar-menu-logo {
  font-size: 24px;
  padding: 18px 5px;
}

#home-bar-menu-btns {
  font-size: 18px;
  font-weight: 300;
}

.home-bar-menu-btn {
  display: inline-block;
  width: 120px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 16px 5px;
}

.home-bar-menu-btn:hover, .home-bar-menu-btn:focus {
  color: #676767;
  text-decoration: none;
}

.home-bar-menu-btn-border {
  border: solid #fff 1px;
  border-radius: 3px;
  padding: 3px;
}

.home-bar-menu-btn-border:hover, .home-bar-menu-btn-border:focus {
  border-color: #676767;
}

#footer {
  background-color: #58442b;
  padding: 35px 0 70px 0;
  font-weight: 300;
  font-size: 12px;
}

.footer-title {
  font-weight: 700;
}

.menu-btn {
  background-color: #f2f4f6;
  border-left: solid #fff 1px;
  border-right: solid #fff 1px;
  padding: 0;
}

.menu-element {
  display: inline-block;
  padding: 14px 29px;
  font-size: 21px;
  color: #b2b2b2;
  height: 58px;
}

.menu-element:hover {
  color: #676767;
}

.menu-element:focus {
  background-color: #fcb138;
  color: #fff;
}

.notification-badge {
  background-color: #bc3733;
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}

#activity-records {
  width: 330px;
  padding: 0;
  max-height: 350px;
  overflow-y: auto;
}

#activity-records > li > a, #directory > li {
  min-height: 70px;
  font-weight: 300;
  white-space: normal;
  padding: 10px 20px 10px 20px;
}

.activity-record + .activity-record, .contact + .contact {
  border-top: solid #989898 1px;
}

#activity-records > li > a:hover {
  background-color: #efeeee;
}

.unread {
  background-color: #f2f4f6;
}

#directory {
  width: 270px;
  padding: 0;
  max-height: 350px;
  overflow-y: auto;
}

#avatar {
  display: inline-block;
  font-size: 35px;
  padding: 0 22px 0 22px;
  color: #b2b2b2;
  height: 58px;
}

#avatar:hover {
  color: #676767;
}

#avatar:focus {
  background-color: #fcb138;
  color: #fff;
}

#menu-new-report {
  background-color: #fff;
  padding: 0;
}

#menu-new-report-btn {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding-top: 12px;
  height: 58px;
}

#menu-new-report-btn .new-report-icon {
  color: #fcb138; 
}

#menu-new-report-btn .new-report-text {
  color: #676767;
}

#menu-new-report-btn:hover .new-report-icon, #menu-new-report-btn:focus .new-report-icon {
  color: #f89839; 
}

#menu-new-report-btn:hover .new-report-text, #menu-new-report-btn:focus .new-report-text {
  color: #000;
}

.new-report-icon {
  position: relative;
  top: 5px;
  font-size: 22px;
}

.panel-no-padding {
  padding: 0;
  min-height: 30px;
}

.platform-image + .platform-image {
  margin-left: 25px;
}

#home-society-info {
  padding-bottom: 100px;
}

#home-society-logo {
  margin-top: 120px;
}

#home-society-text {
  margin-top: 60px;
  font-size: 30px;
  line-height: 1.25
}

#home-society-site {
  font-size: 32px;
  margin-top: 50px;
  padding: 15px 0;
  border-radius: 3px;
}

#platforms {
  margin-top: 70px;
}

#admin-title {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 300;
}

#admin-menu {
  margin-top: 20px;
}

.info-table {
   margin-top: 10px;
   border: solid #b2b2b2 1px;
}

#activity-records > li.approved > a {
  background-color: #fcb060;
  color: #fff;
}

#activity-records > li.approved > a:hover, #activity-records > li.approved > a:focus {
  background-color: #fcb138;
}

#activity-records > li.approved.unread > a {
  background-color: #fcb138;
  color: #fff;
}

#activity-records > li.approved.unread > a:hover, #activity-records > li.approved.unread > a:focus {
  background-color: #fba539;
}

#activity-records > li.completed > a {
  background-color: #5ab93a;
  color: #fff;
}

#activity-records > li.completed > a:hover, #activity-records > li.completed > a:focus {
  background-color: #39b54a;
}

#activity-records > li.completed.unread > a {
  background-color: #39b54a;
  color: #fff;
}

#activity-records > li.completed.unread > a:hover, #activity-records > li.completed.unread > a:focus {
  background-color: #2caa3a;
}

.lbl {
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
}

.lbl-light-blue {
  background-color: #5bc0de;
}

.lbl-blue {
  background-color: #337ab7;
}

.lbl-orange {
  background-color: #fcb138;
}

.lbl-green {
  background-color: #39b54a;
}

.lbl-red {
  background-color: #bc3733;
}


