/*
 *= require bootstrap
 *= require icomoon
 *= require_self
 *= @import 'toastr.min'
 */

#home-bar-menu {
  height: 60px;
  background-color: #f89839;
  border-bottom: solid #b2b2b2 2px;
  display: none; 
}

#home-splash {
  background: image-url("splash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}

#home-menu {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 300;
}

.home-menu-btn {
  display: inline-block;
  width: 120px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.home-menu-btn:hover, .home-menu-btn:focus, .home-sign-up-btn:hover, .home-sign-up-btn:focus {
  color: #b2b2b2;
  text-decoration: none;
}

.home-menu-btn-border {
  border: solid #fff 1px;
  border-radius: 3px;
  padding: 3px;
}

.home-menu-btn-border:hover, .home-menu-btn-border:focus, .home-sign-up-btn-border:hover, .home-sign-up-btn-border:focus {
  border-color: #b2b2b2;
}

#home-logo {
  margin-top: 100px;
}

#home-slogan {
  margin-top: 20px;
  font-weight: 300;
  font-size: 34px;
  line-height: 1;
}

#home-sign-up {
  margin-top: 50px;
}

.home-sign-up-btn {
  font-size: 34px;
  text-decoration: none;
  color: #fff;
}

.home-sign-up-btn-border {
  border: solid #fff 1px;
  border-radius: 3px;
  padding: 7px 10px 10px 10px;
}

#home-info {
  padding: 120px 0 70px 0;
  font-weight: 300;
  background-color: #f2f4f6;
}

#home-info-title {
  font-size: 44px;
  line-height: 1;
}

#home-info-text {
  margin-top: 40px;
  font-size: 28px;
}

#home-functions {
  margin-top: 50px;
  border-top: solid #000 2px;
  padding-top: 30px;
}

#home-functions-title {
  font-size: 42px;
}

#home-functions-icons {
  margin-top: 20px;
}

#home-functions-icons-titles {
  margin-top: 10px;
  font-size: 28px;
}

#home-functions-icons-text {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
}