@font-face {
	font-family: 'icomoon';
	src: asset-url('icomoon.eot?g7169i');
	src: asset-url('icomoon.eot?#iefixg7169i') format('embedded-opentype'),
		asset-url('icomoon.woff?g7169i') format('woff'),
		asset-url('icomoon.ttf?g7169i') format('truetype'),
		asset-url('icomoon.svg?g7169i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  display: inline-block;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-yc-back:before {
	content: "\e600";
}
.icomoon-categorias-pavimento:before {
	content: "\e601";
}
.icomoon-no-afecta:before {
	content: "\e602";
}
.icomoon-like:before {
	content: "\e603";
}
.icomoon-reportar:before {
	content: "\e604";
}
.icomoon-replicar:before {
	content: "\e60a";
}
.icomoon-me-afecta:before {
	content: "\e60b";
}
.icomoon-resuelto:before {
	content: "\e60c";
}
.icomoon-compartir:before {
	content: "\e60d";
}
.icomoon-ver-mas:before {
	content: "\e60e";
}
.icomoon-logo:before {
	content: "\e60f";
}
.icomoon-marcador:before {
	content: "\e611";
}
.icomoon-ciudad:before {
	content: "\e605";
}
.icomoon-mi-actividad:before {
	content: "\e606";
}
.icomoon-directorio:before {
	content: "\e607";
}
.icomoon-yctv:before {
	content: "\e608";
}
.icomoon-yo:before {
	content: "\e609";
}