/*
Syntax error: Invalid CSS after "@gray-base :": expected pseudoclass or pseudoelement, was " #000;"
        on line 23 of /home/rails/YoCiudadano/app/assets/stylesheets/pdf.scss

18: // Variables
19: // --------------------------------------------------
20: //== Colors
21: //
22: //## Gray and brand colors for use across Bootstrap.
23: @gray-base : #000;
24: @gray-darker : lighten(@gray-base, 13.5%); // #222
25: @gray-dark : lighten(@gray-base, 20%); // #333
26: @gray : lighten(@gray-base, 33.5%); // #555
27: @gray-light : lighten(@gray-base, 46.7%); // #777
28: @gray-lighter : lighten(@gray-base, 93.5%); // #eee

Backtrace:
/home/rails/YoCiudadano/app/assets/stylesheets/pdf.scss:23
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:1067:in `expr!'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:794:in `pseudo'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:672:in `simple_selector_sequence'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:640:in `_selector'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:619:in `selector'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:155:in `directive'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:543:in `block_contents'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.2.1/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.2.1/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@gray-base :\": expected pseudoclass or pseudoelement, was \" #000;\"\A         on line 23 of /home/rails/YoCiudadano/app/assets/stylesheets/pdf.scss\A \A 18: // Variables\A 19: // --------------------------------------------------\A 20: //== Colors\A 21: //\A 22: //## Gray and brand colors for use across Bootstrap.\A 23: @gray-base : #000;\A 24: @gray-darker : lighten(@gray-base, 13.5%); // #222\A 25: @gray-dark : lighten(@gray-base, 20%); // #333\A 26: @gray : lighten(@gray-base, 33.5%); // #555\A 27: @gray-light : lighten(@gray-base, 46.7%); // #777\A 28: @gray-lighter : lighten(@gray-base, 93.5%); // #eee"; }
