#map-canvas {
  height: 500px;
}

.report-title {
  font-size: 36px;
  color: #f89839;
  font-weight: 600;
  margin-top: 30px;
}

.report-subtitle {
  margin-top: -20px;
  font-size: 26px;
  color: #989898;
  font-weight: 300;
}

.icon-details {
  font-size: 32px;
}

.icon-details-text {
  font-size: 16px;
}

.row.text-center + #details-info {
  margin-top: 25px;
}

#affected-box {
  background-color: #bc3733;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  padding: 15px 0;
  margin-top: 30px;
}

#affected-number {
  padding: 0 5px;
  font-size: 40px;
}

.icon-panel {
  font-size: 18px;
}

.panel-title {
  font-size: 18px;
  font-weight: 300;
}

#comments-panel {
  padding-top: 0;
  padding-bottom: 0;
}

#comment-box {
  background-color: #f89839;
  padding: 20px 0;
}

.comment {
  padding-top: 15px;
  padding-bottom: 15px;
}

.comment + .comment {
  border-top: solid #b2b2b2 1px;
}

.comment-buttons {
  margin-top: 20px;
  font-size: 22px;
}

.comment-btn {
  color: #b2b2b2;
  text-decoration: none;
}

.comment-btn:hover, .comment-btn:focus {
  color: #989898;
  text-decoration: none;
}

.comment-btn + .comment-btn, .like-btn + .comment-btn {
  margin-left: 15px;
}

.unlike {
  color: #bc3733;
}

.unlike:hover, .unlike:focus {
  color: #ab2622;
}