@font-face {
	font-family: 'star';
	src: asset-url('star.eot?-b6qqnj');
	src: asset-url('star.eot?#iefix-b6qqnj') format('embedded-opentype'),
		asset-url('star.woff?-b6qqnj') format('woff'),
		asset-url('star.ttf?-b6qqnj') format('truetype'),
		asset-url('star.svg?-b6qqnj#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="star-"], [class*=" star-"] {
	font-family: 'star';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.star-estrella:before {
	content: "\e600";
}
