%p
  Bienvenido! #{@resource.username}

%p
  Puede confirmar su cuenta con el enlace que se encuentra a continuación:

%p
  = link_to 'Confirmar cuenta', confirmation_url(@resource, confirmation_token: @token)