%p
  Saludos #{@resource.username}!

%p
  Ha solicitado un cambio de contraseña para su cuenta. Puede realizar dicho cambio con el enlace que se encuentra a continuación:

%p
  = link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token)

%p
  Si no solicitó este cambio, favor de ignorar este correo.
%p
  Su contraseña no se cambiará hasta que usted presione el enlace anterior y cree una nueva contraseña.