= render "main/menu"
.row
  .container
    .row
      .col-xs-12
        %br
        %br
        %br
        %br
        %div{:class=>"col-md-12"}
          %h1{:style=>"color:#FCB138"}
            ="YoCiudadanoTV"
          %h3{:style=>"color:#818181;margin:0;"}
            ="Un espacio ciudadano para discutir y aprender sobre la cuidad."         
    .row
      .col-xs-12
        //-@ids.each do |id|
        //  %iframe{:src => "https://www.youtube.com/embed/#{id}", :width=>"200", :height=>"150",:frameborder=>"0", :allowfullscreen=>true}
        
        -@titles.each do |title|
          %div{:class=>"col-md-3",:style=>"width:225;"}
            =button_tag '', {:id=>"#{@ids[@titles.index(title)]}","class"=>"videos",:type=>"button",:style=>"background:url('http://i.ytimg.com/vi/#{@ids[@titles.index(title)]}/mqdefault.jpg');height:150px;width:220px;margin:30px 5px 50px 5px;", "data-toggle"=>"modal","data-target"=>"#myModal",:title=>title}
            %p{:style=>"position:absolute;top: 180px;left:20px;color:#676767"}
              =title
        .modal.fade{:id=>"myModal",:tabindex=>"-1",:role=>"dialog","aria-labellebdy"=>"modalTitle","aria-hidden"=>true}
          .modal-dialog.modal-lg
            .modal-content{:style=>"background:rgba(255,255,255,0);height:504px"}
              .modal-header{:style=>"height:25px;margin:0;padding:5px;border:0;background:rgba(255,255,255,1)"}
                %button.close{ type: "button", "data-dismiss" => "modal" }
                  %span{ "aria-hidden" => true }
                    &times;
                %span.sr-only
                  Close
              .modal-body{:id=>"modalBody",:style=>"margin:0;padding:0;border:none;"}
          }
:javascript
  $('#myModal').on('hidden.bs.modal', function (e) {
   document.getElementById("modalBody").innerHTML="";
  });