- if (@report.errors.any?)
  .alert.alert-danger
    %strong ERROR!
    = @report.errors.messages[:image]
= form_for @report do |f|
  .row
    .col-xs-8
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            %i.icomoon-marcador.light-gray.icon-panel
            Ubicación
        #map-canvas.panel-body.panel-no-padding
    .col-xs-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            %i.glyphicon.glyphicon-camera.light-gray.icon-panel
            Fotografía
        .report-image.panel-body.panel-no-padding
          %img{ width: "100%" }
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            %i.glyphicon.glyphicon-list-alt.light-gray.icon-panel
            Detalles
        .panel-body
          = f.hidden_field :latitude, class: "form-control"
          = f.hidden_field :longitude, class: "form-control"
          .form-group
            = f.label :title, "Título"
            = f.text_field :title, class: "form-control"
          .form-group
            = f.label :report_category_id, "Categoría"
            = f.select :report_category_id, options_for_select([ ["Limpia", 1], ["Pavimento", 2], ["Parques", 3], ["Alumbrado", 4], ["Accesibilidad", 5] ], selected: @report.report_category_id), {}, class: "form-control"
          .form-group
            = f.label :details, "Otros detalles"
            = f.text_area :details, class: "form-control", resize: "none";
          .form-group
            = f.label :image, "Imagen"
            = f.file_field :image
          = f.submit 'Crear', class: "btn btn-orange col-xs-12", style: "margin-top: 30px;"
          
:javascript
  $(document).ready(function() {
    var preview = $(".report-image img");
    $("#report_image").change(function(event) {
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        image_base64 = e.target.result;
        preview.attr("src", image_base64);
        preview.attr("alt", "Vista previa no disponible");
      };
      reader.readAsDataURL(file);
    });
  });