$("#affectation-link").html('<%= link_to "<i class=\"icomoon-no-afecta icon-details red\"></i>".html_safe, remove_vote_report_path, method: :post, remote: true %>');
$("#affectation-text").html("No afecta");
$("#affected-number").html('<%= qty_conversion(@votes) %>');
$("#affected-text").html('<%= @votes == 1 ? "ciudadano afectado" : "ciudadanos afectados" %>');