$("#comments").prepend("<div class='comment row'>\
    <div class='col-xs-2 text-center'>\
      <% if current_user.avatar.url != "/avatars/original/missing.png" %>\
      <i class='icomoon-yo orange' style='position: relative; top: 7px; font-size: 35px;'></i>\
      <% else %>\
      <i class='icomoon-yo dark-gray' style='position: relative; top: 7px; font-size: 35px;'></i>\
      <% end %>\
    </div>\
    <div class='col-xs-10'>\
      <div class='black'>\
        <span style='font-weight: 700;'><%= current_user.username %></span>\
        <span style='font-size: 12px;'><%= "hace #{get_oldness((Time.now - @comment.created_at).to_i)}"%></span>\
        <span id='likes-<%= @comment.id %>'>(<%= Like.where(comment_id: @comment.id).count %>)</span>\
      </div>\
      <div><%= @comment.content %></div>\
      <div class='comment-buttons'>\
        <a class='comment-btn' href='#'><i class='icomoon-like'></i></a>\
        <a class='comment-btn' href='#'><i class='icomoon-reportar'></i></a>\
      </div>\
    </div>\
  </div>");