= render "main/menu"
= render "administration/admin_menu", active: "reports"
.row
  .container
    .row
      .col-xs-12
        %table.table.table-striped.info-table
          %thead
            %tr
              %th<
                ID
              %th<
                Título
              %th<
                Estado
              %th<
                Creado por
              %th<
                Fecha
              %th<
                Categoría
              %th<
                Descripción
              %th<
              
              %th
          %tbody
            - @reports.order("id desc").each do |report|
              %tr
                %td<
                  = report.id
                %td<
                  = report.title
                %td<
                  %span{ class: color_label(report.status) }
                    = get_report_status(report.status)
                %td<
                  = report.user.username
                %td<
                  = report.created_at.localtime.strftime('%d-%m-%Y')
                %td<
                  = get_report_category(report.report_category_id)
                %td<
                  = report.details
                %td<
                  = link_to "Ver", report, class: "btn btn-orange btn-xs"
                %td<
                  = link_to 'Eliminar', delete_report_path(report), method: :delete , class: "btn btn-danger btn-xs", :data => { :confirm => 'Estas Seguro?' }