<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?language=es&amp;key=AIzaSyA47C4qJmfWX1vVgsj0plfElJPuBAnb46Y"></script>
<% end %>
<%= render "main/menu" %>
<div class="row" style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="report-title">Crear reporte</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var map;
  var home = new google.maps.LatLng(31.7, -106.4);
  var markers = [];
  
  var marker_selected = {
    url: "<%= image_url "marker-selected.png" %>",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };

  function initialize() {
    var mapDiv = document.getElementById("map-canvas");
    
    var mapOptions = {
      zoom: 12,
      center: home,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      }
    };

    map = new google.maps.Map(mapDiv, mapOptions);
    
    google.maps.event.addListener(map, "click", function(event) {
      document.getElementById("report_longitude").value = event.latLng.lng();
      document.getElementById("report_latitude").value = event.latLng.lat();
      deleteMarkers();
      addMarker(event.latLng);
    });
  }

  function addMarker(location) {
    var marker = new google.maps.Marker({
      position: location,
      icon: marker_selected,
      map: map
    });
    
    markers.push(marker);
  }

  function setAllMap(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function clearMarkers() {
    setAllMap(null);
  }

  function deleteMarkers() {
    clearMarkers();
    markers = [];
  }

  google.maps.event.addDomListener(window, "load", initialize);
</script>