$("#affectation-link").html('<%= link_to "<i class=\"icomoon-me-afecta icon-details red\"></i>".html_safe, add_vote_report_path, method: :post, remote: true %>');
$("#affectation-text").html("Me afecta");
$("#affected-number").html('<%= qty_conversion(@votes) %>');
$("#affected-text").html('<%= @votes == 1 ? "ciudadano afectado" : "ciudadanos afectados" %>');