$("#like-btn-<%= params[:comment_id] %>").html('<%= link_to "<i class=\"icomoon-like\"></i>".html_safe, add_like_reports_path(comment_id: params[:comment_id]), class: "comment-btn", remote: true, method: :post %>');
$("#likes-<%= params[:comment_id] %>").html('(<%= @likes %>)');