<html>
  
  <head>
 <% query = "#{@report.latitude},#{@report.longitude}" %>
<% first_result = Geocoder.search(query).first %>
    <meta charset="utf-8">
               <%= wicked_pdf_stylesheet_link_tag "bootstrap.scss" %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <style>
    .report-title {
  font-size: 36px;
  color: #black;
  font-weight: 600;
  margin-top: 30px;
}

.report-subtitle {
  margin-top: -20px;
  font-size: 26px;
  color: #black;
  font-weight: 300;
}

.icon-details {
  font-size: 32px;
}

.icon-details-text {
  font-size: 16px;
}

.icon-panel {
  font-size: 28px;
}

.panel-title {
  font-size: 28px;
  font-weight: 300;
}

p{
  font-size: 18px;
  font-weight: 300;
}
#neruda{
  background-color: green;
}

#affected-box {
  background-color: #bc3733;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  padding: 15px 0;
  margin-top: 30px;
}

#affected-number {
  padding: 0 5px;
  font-size: 40px;
}

  </style>
  <body>

    <!--<div class="section">-->
    <!--  <div class="container">-->
    <!--    <div class="row">-->
    <!--      <div class="col-md-8">-->
    <!--        <h1>Heading</h1>-->
    <!--        <img class="img-responsive img-thumbnail" src="http://maps.googleapis.com/maps/api/staticmap?center=Tombouctou,Mali&amp;zoom=12&amp;size=200x200&amp;sensor=false">-->
    <!--      </div>-->
    <!--      <div class="col-md-4">-->
    <!--        <img src="https://unsplash.imgix.net/photo-1423439793616-f2aa4356b37e?w=1024&amp;q=50&amp;fm=jpg&amp;s=3b42f9c018b2712544debf4d6a4998ff"-->
    <!--        class="img-responsive">-->
    <!--        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,-->
    <!--          <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.-->
    <!--          <br>Ut enim ad minim veniam, quis nostrud</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <div class="section">
      <div class="container">
        <div class="row" style="background-color:#f15a24">
          
            <div id="neruda" class="alert alert-dismissable" style="background-color:#f15a24">
              <div class="col-md-2"> <img src="http://i.imgur.com/n6zhlma.png" class="img-responsive"></div>
             <div class="col-md-8" >
               <div class="pull-right" style= "font-size: 40px;margin-right: -100px;color: white;  font-weight: 600;" >
                 <%= @report.id %>
               </div>

               </div>
              
            </div>
      </div>
    </div>
<div class="container">
<div class="row">
<div class="col-xs-12">
<p class="report-title">
<%= @report.title %> 
</p>
<p class="report-subtitle">
Publicado por
<span class="light-orange">
<%= @report.user.username %>
</span>
el <%= @report.created_at.localtime.strftime("%d-%m-%Y") %>
<br>
<!--</p><h3>Numero de Reporte:  1413</h3>-->
<p></p>
</div>
<div style="margin-bottom: 30px; ">

</div>
</div>
<div class="row">
<div class="col-xs-12">
<div class="row">
<div class="col-xs-8">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<i class="icomoon-marcador light-gray icon-panel"></i>
<h3>Ubicación</h3>
</h3>
</div>
<div class="panel-body panel-no-padding" id="map-canvas"></div>
<% @cadena= "http://maps.googleapis.com/maps/api/staticmap?key?=AIzaSyDiEeLEXEf0DOThDfp9DBYbugN29EQaZsM&size=600x400&sensor=false&zoom=18&maptype=hybrid&visual_refresh=true&style=feature:transit.line%7Cvisibility:off&style=feature:poi%7Cvisibility:off&markers=icon:http://i.imgur.com/t0BTtDv.png%7C#{@report.latitude},#{@report.longitude}" %>
<% @cadena2= "http://maps.googleapis.com/maps/api/staticmap?key?=AIzaSyDiEeLEXEf0DOThDfp9DBYbugN29EQaZsM&size=600x400&sensor=false&zoom=20&maptype=satellite&visual_refresh=true&style=feature:transit.line%7Cvisibility:off&style=feature:poi%7Cvisibility:off&markers=icon:http://i.imgur.com/t0BTtDv.png%7C#{@report.latitude},#{@report.longitude}" %>
<%= wicked_pdf_image_tag  @cadena ,:width => "100%" %>
</div>

<div class="panel panel-default">
<div class="panel-heading">



</div>
<div class="panel-body" id="comments-panel">

</div>
</div>
</div>
<div class="col-xs-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<i class="glyphicon glyphicon-camera light-gray icon-panel">Fotografía
</i>
</h3>
</div>
<div class="report-image panel-body panel-no-padding">
<%= wicked_pdf_image_tag  @report.image ,:width => "100%" %>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<i class="glyphicon glyphicon-list-alt light-gray icon-panel"></i>
Detalles
</h3>
</div>
<div class="panel-body">
<div class="row" id="details-info">
<div class="col-xs-12">
<p>
<b>Estado:</b>
Aprobado
</p>
<p>
<b>Categoría:</b>
<%= get_report_category(@report.report_category_id) %>
</p>
<p>
<b>Otros detalles:</b>
<%= @report.details %>
</p>
<p>
<b>Dirección:</b>
<%= first_result.formatted_address %>
</p>
</div>
</div>
<div class="row">
<div class="col-xs-10 col-xs-offset-1" id="affected-box">
<div class="col-xs-6 text-center" id="affected-number">
  <%= qty_conversion(@votes) %>
</div>
<div class="col-xs-6" id="affected-text" style="padding: 0 5px;">
  <% if @votes != 1 %>
  ciudadanos afectados
  <% else %>
  ciudadano afectado
  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



  </body>

</html>