- content_for :head do
  %script{ src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyANan8F9ARW1Cwb0G_UwfEeK22gvwhL0Aw&sensor=false" }
  %meta{ :property => 'og:title', :content => 'He compartido un reporte usando YoCiudadano' }
  %meta{ :property => 'og:site_name', :content => 'YoCiudadano' }
  %meta{ :property => 'og:description', :content => 'YoReporto es una aplicación creada por Plan Estratégico de Juárez , A.C., somos una organización sin fines de lucro y apartidista que tiene por objetivo la construcción de una fuerza ciudadana que participe en los asuntos públicos, proponiendo y exigiendo una mejor ciudad. A través de esta herramienta, todos los juarenses podemos contribuir a construir una mejor ciudad de manera sencilla. Todos los reportes elaborados son enviados a las dependencias municipales correspondientes.' }
  %meta{ :property => 'twitter:site', :content => '@planjuarez' }
  %meta{ :property => 'twitter:card', :content => 'summary_large_image' }
  %meta{ :property => 'twitter:creator', :content => '@planjuarez' }

- if user_signed_in?
  = render "main/menu"
-else 
  = render "main/menu2"
.row{ style: "margin-top: 60px; padding-bottom: 70px;" }
  .container
    .row
      .col-xs-12
        %p.report-title
          = @report.title
        %p.report-subtitle
          Publicado por
          %span.light-orange
            #{@report.user.username}
          el #{@report.created_at.localtime.strftime("%d-%m-%Y")}
          %br/
          -#%h3 Latitud:  #{@report.latitude}
          %h3 Numero de Reporte:  #{@report.id}
          - query = "#{@report.latitude},#{@report.longitude}"
          - first_result = Geocoder.search(query).first
      - if user_signed_in?
        - if current_user.is_admin
          %div{ style: "margin-bottom: 30px; "}
            = link_to "Reabrir", re_open_report_path, class: "btn btn-danger", method: :post if ![1, 2].include?(@report.status)
            - case(@report.status)
              - when 1
                = link_to "Aprobar reporte", approve_report_path, class: "btn btn-orange", method: :post
              - when 3
                = link_to "Reporte resuelto", complete_report_path, class: "btn btn-orange", method: :post
              
    .row
      .col-xs-12
        .row
          .col-xs-8
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  %i.icomoon-marcador.light-gray.icon-panel
                  Ubicación
              #map-canvas.panel-body.panel-no-padding
            - if @report.status != 1
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    %i.icomoon-replicar.light-gray.icon-panel
                    Comentarios
                #comments-panel.panel-body
                  - if @report.status != 4
                    - if user_signed_in?
                      #comment-box.row
                        .col-xs-2.text-center
                          - if current_user.avatar.url != "/avatars/original/missing.png"
                            = image_tag current_user.avatar.url, width: "35px;", height: "35px", class: "img-circle"
                          -else
                            %i.icomoon-yo.darkest-gray{ style: "position: relative; top: 7px; font-size: 35px;" }
                        .col-xs-10
                          = text_area_tag :comment, "", class: "form-control", placeholder: "Comenta algo al respecto..."
                    - else
                      %h3
                        No estas registrado, regístrate para poder comentar y participar en YoCiudadano, haciendo click
                        %a{:href => "https://yociudadano.com.mx/users/sign_up"} Aquí.
                  .row
                    #comments.col-xs-12
                      - if @comments
                        - @comments.each do |c|
                          - if user_signed_in?
                            - has_like = Like.where(user_id: current_user.id).where(comment_id: c.id).count > 0 ? true : false
                          .row.comment
                            .col-xs-2.text-center
                              - if c.user.avatar.url != "/avatars/original/missing.png"
                                = image_tag c.user.avatar.url, width: "35px;", height: "35px", class: "img-circle"
                              -else
                                %i.icomoon-yo.dark-gray{ style: "position: relative; top: 7px; font-size: 35px;" }
                            .col-xs-10
                              .black
                                %span{ style: "font-weight: 700;" }
                                  = c.user.username
                                %span{ style: "font-size: 12px;" }
                                  = "hace #{get_oldness((Time.now - c.created_at).to_i)}"
                                  = "<span id='likes-#{c.id}'>(#{Like.where(comment_id: c.id).count})</span>".html_safe
                              %div
                                = c.content
                              - if user_signed_in?
                                .comment-buttons
                                  %span.like-btn{ id: "like-btn-#{c.id}" }
                                    - if !has_like
                                      = link_to "<i class='icomoon-like'></i>".html_safe, add_like_reports_path(comment_id: c.id), class: "comment-btn", remote: true, method: :post
                                    - else
                                      = link_to "<i class='icomoon-like'></i>".html_safe, remove_like_reports_path(comment_id: c.id), class: "comment-btn unlike", remote: true, method: :post
                                  - if c.user_id != current_user.id
                                    %span.comment-btn{ style: "cursor: pointer;", "data-toggle" => "modal", "data-target" => "#modal-reply", "data-user" => c.user.username, "data-id" => c.user_id }
                                      %i.icomoon-replicar
                                  -#%a.comment-btn{ href: "#"}
                                    -#%i.icomoon-reportar
          .col-xs-4
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  %i.glyphicon.glyphicon-camera.light-gray.icon-panel
                  Fotografía
              .report-image.panel-body.panel-no-padding
                %a{ href: @report.image, target: "_blank" }
                  %img{ width: "100%", src: @report.image }
            - if [3, 4].include?(@report.status)
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    %i.glyphicon.glyphicon-camera.light-gray.icon-panel
                    Evidencia
                .report-image.panel-body.panel-no-padding
                  %a{ href: @report.evidence, target: "_blank" }
                    %img{ width: "100%", src: @report.evidence }
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  %i.glyphicon.glyphicon-list-alt.light-gray.icon-panel
                  Detalles
              .panel-body
                - if ![1, 4].include?(@report.status)
                  .row.text-center
                    - if user_signed_in?
                      .col-xs-4
                        #affectation-link
                          - if !@has_vote
                            = link_to "<i class='icomoon-me-afecta icon-details red'></i>".html_safe, add_vote_report_path, method: :post, remote: true
                            #affectation-text.dark-gray.icon-details-text
                              Me afecta
                          - else
                            = link_to "<i class='icomoon-no-afecta icon-details red'></i>".html_safe, remove_vote_report_path, method: :post, remote: true
                            #affectation-text.dark-gray.icon-details-text
                              No afecta
                      - if @report.status == 2
                        .col-xs-4
                          %span{ style: "cursor: pointer;", "data-toggle" => "modal", "data-target" => "#modal-complete" }
                            %i.icomoon-resuelto.icon-details.green
                          .dark-gray.icon-details-text
                            Resuelto
                #details-info.row
                  .col-xs-12
                    = link_to 'Ver PDF', "http://yoreporto.com.mx/reports/#{@report.id}.pdf", target: "_blank", class: "btn btn-danger btn-xs"
                    %p
                      %b Estado:
                      = get_report_status(@report.status)
                    %p
                      %b Categoría:
                      = get_report_category(@report.report_category_id)
                    %p
                      %b Otros detalles:
                      = @report.details
                    %p
                      %b Dirección:
                      = first_result.formatted_address
                - if @report.status != 1
                  .row
                    #affected-box.col-xs-10.col-xs-offset-1
                      #affected-number.col-xs-6.text-center
                        = qty_conversion(@votes)
                      #affected-text.col-xs-6{ style: "padding: 0 5px;" }
                        - if @votes != 1
                          ciudadanos afectados
                        - else
                          ciudadano afectado
= hidden_field_tag :reply_to
= hidden_field_tag :report_id, params[:id]
#modal-reply.modal.fade{ "tab-index" => -1, role: "dialog", "aria-labelledby" => "modal-label" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => true }
            &times;
          %span.sr-only
            Close
        %h4#modal-label.modal-title
      .modal-body
        .black
          Mensaje:
        %textarea#modal-message.form-control{ style: "margin-top: 5px;" }
      .modal-footer
        %button.btn.btn-default{ type: "button", "data-dismiss" => "modal" }<
          Cancelar
        %button#reply-btn.btn.btn-orange
          Responder
#modal-complete.modal.fade{ "tab-index" => -1, role: "dialog", "aria-labelledby" => "modal-label" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => true }
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          Evidencia de problema resuelto
      .modal-body
        = form_for @report do |f|
          = f.label :evidence, "Agregar imagen"
          = f.file_field :evidence
          .evidence-image.text-center{ style: "margin-top: 10px; display: none;" }
            %img{ style: "max-width: 100%; max-height: 350px; border-radius: 5px;" }
          %div{ style: "margin-top: 20px;" }
            %button.btn.btn-default{ type: "button", "data-dismiss" => "modal" }<
              Cancelar
            = submit_tag "Enviar", class: "btn btn-orange", id: "add-evidence-btn"
:javascript
  var map;
  var home = new google.maps.LatLng(#{@report.latitude}, #{@report.longitude});
  var marker_selected = {
    url: "#{image_url "marker-selected.png"}",
    size: new google.maps.Size(35, 47),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(18, 47)
  };
  
  

  function initialize() {
    var mapDiv = document.getElementById("map-canvas");

    var mapOptions = {
      zoom: 17,
      center: home,
      draggable: false,
      disableDefaultUI: true,
      zoomControl: false,
      scrollwheel: false
    };

    map = new google.maps.Map(mapDiv, mapOptions);

    var marker = new google.maps.Marker({
      position: home,
      map: map,
      icon: marker_selected,
      draggable: false
    });
  }

  google.maps.event.addDomListener(window, "load", initialize);
  
  $("#comment-box textarea").on('keydown', function(e) {
    if(e.which == 13 && !e.shiftKey) {
      e.preventDefault();
      
      $.ajax({
        url: "#{add_comment_report_path}",
        type: "POST",
        data: { content: $("#comment-box textarea").val().trim(), id: #{params[:id]} }
      });
    
      $("#comment-box textarea").val("");
    }
  });
  
  $("#modal-reply").on("show.bs.modal", function(event) {
    $("#modal-message").val("");
    var button = $(event.relatedTarget);
    var user = button.data("user");
    var user_id = button.data("id");
    var modal = $(this);
    modal.find(".modal-title").text("Responder a: " + user);
    $("#reply_to").val(user_id);
  });

  $("#reply-btn").click(function() {
    var request = $.ajax({
      url: "#{add_comment_report_path}",
      type: "POST",
      data: { id: $("#report_id").val(), reply_to_id: $("#reply_to").val(), content: $("#modal-message").val().trim() }
    });
    
    request.done(function(msg) {
      $("#modal-reply").modal("hide");
    });
  });
  
  $("#report_evidence").change(function(event) {
    var preview = $(".evidence-image img");
    var input = $(event.currentTarget);
    var file = input[0].files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      image_base64 = e.target.result;
      preview.attr("src", image_base64);
      preview.attr("alt", "Vista previa no disponible");
    };
    reader.readAsDataURL(file);
    $(".evidence-image").show();
  });
  
  $("#add-evidence-btn").click(function() {
    if($("#report_evidence").val() === ""){
      alert("Necesitas adjuntar una imagen como evidencia para proponer el reporte como resuelto");
      return false;
    }
  });