%script{:src => "//yociudadano.com.mx/assetsexternos/jquery.dataTables.min.js"}
%script{:src => "//yociudadano.com.mx/assetsexternos/horizBarChart.js"}
:javascript
  $(document).ready(function(){
  $('.chart').horizBarChart({
    selector: '.bar',
    speed: 3000
  });
  });
:css
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
  .chart {
      zoom: 1;
      width: 90%
  }
  
  .chart:after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      visibility: hidden
  }
  
  .chart li {
      display: block;
      height: 40px;
      margin-top: 3px;
      position: relative
  }
  
  .chart li:before {
      color: #fff;
      content: attr(title);
      left: 5px;
      position: absolute
  }
  
  .chart li.title:before {
      color: black;
      font-weight: bold;
      left: 0;
      font-family: Montserrat;
      font-size: 30px;
  }
  
  .chart li:first-child {
      margin-top: 0
  }
  
  .chart li .bar {
      background: #F89839;
      height: 100%
  }
  
  .chart li .number {
      color: black;
      font-size: 18px;
      font-weight: bold;
      padding-left: 5px;
      position: absolute;
      top: -2px
  }
  
  .chart li.past .bar {
      background: #aaa
  }
  
  .chart li.past .number {
      color: #000
  }
  
  @media screen and (max-width: 480px) {
      .chart li {
          height: auto
      }
      .chart li:before {
          color: black;
          display: block;
          left: 0;
          position: relative
      }
      .chart li.title:before {
          border-bottom: 1px solid
      }
      .chart li .bar {
          height: 23px
      }
      .chart li .number {
          display: block;
          left: 0 !important;
          padding-left: 0;
          position: relative;
          top: -8px
      }
  }
  
  
  .chart li.past #seccion1{
      background: #57C1AF;
  }
  
  .chart li.past #seccion2{
      background: #EE2263;
  }
  
  .chart li.past #seccion3{
      background: #B2A095;
  }
  
  .chart li.past #seccion4{
      background: #C39A6B;
  }
  
  
  
  .past{
   font-size: 25px;
   font-family: 'Montserrat';
  }
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
= render "main/menu"
= render "administration/admin_menu", active: "comentarios"
.row
  .container
    .row
      .col-xs-12
        %table.table.table-striped.info-table
          %thead
            %tr
              %th<
                ID
              %th<
                Comentario
              %th<
                Autor
              %th<
                Fecha
              %th<
                Reporte
              %th<
          %tbody
            - @comentarios.each do |comentario|
              %tr
                %td<
                  = comentario.id
                %td<
                  = comentario.content
                %td<
                  = get_report_username(comentario.user_id)
                %td<
                  = comentario.created_at.localtime.strftime('%d-%m-%Y')
                %td<
                  = link_to "Ver", report_path(comentario.report_id), class: "btn btn-orange btn-xs"
                %td<
                //   = link_to 'Eliminar', delete_report_path(report), method: :delete , class: "btn btn-danger btn-xs", :data => { :confirm => 'Estas Seguro?' }
%h1 Comentario#index
%p Find me in app/views/comentario/index.html.haml
