!!! 5
%html
  %head
    %title
      YoReporto
    %meta{:charset => "utf-8"}
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag params[:controller], media: 'all' if !(params[:controller] =~ /devise/)
    %link{href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700', rel: 'stylesheet', type: 'text/css'}
    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller] if !(params[:controller] =~ /devise/)
    = csrf_meta_tags
    = analytics_init if GoogleAnalytics.valid_tracker?
    -#%p#notice= notice
    = yield :head
    %meta{ :property => 'og:description', :content => 'YoReporto es una aplicación creada por Plan Estratégico de Juárez , A.C., somos una organización sin fines de lucro y apartidista que tiene por objetivo la construcción de una fuerza ciudadana que participe en los asuntos públicos, proponiendo y exigiendo una mejor ciudad. A través de esta herramienta, todos los juarenses podemos contribuir a construir una mejor ciudad de manera sencilla. Todos los reportes elaborados son enviados a las dependencias municipales correspondientes.' }
    %meta{:content => "app-id=947170701”>", :name => "apple-itunes-app"}

  %body
    #app-container.container-fluid
      - unless flash.empty?
        - flash.each do |f|
          - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
          = javascript_tag do
            toastr["#{type}"]("#{f[1]}")
      = yield
      #footer.row.white
        .container
          .row
            .col-xs-4
              .footer-title
                Proteger tus datos nos importa
              %div
                La información aquí proporcionada es tratada con cuidado para proteger tu privacidad. Consulta las condiciones de uso y nuestro aviso de privacidad aquí.
            .col-xs-4
              .footer-title
                Legal
              %div
                YoReporto, el logotipo de YoReporto, Plan Estratégico de Juárez y el logotipo de Plan Estratégico de Juárez, son marcas registradas de Plan Estratégico de Juárez, A.C.
            .col-xs-4
              %div
                iPhone y Appstore son marcas registradas de Apple, Inc. Todos los derechos reservados.
              %div
                Android y GooglePlay, son marcas registradas de Google, Inc. Todos los derechos reservados
= render 'layouts/footer'